$blue:   #0c2d63;
$sky-blue:#00ACED;
$yellow: #fdb319;
$dark-yellow:#ec971f;
$gray:#929090;
$black-gray: #3a3a3a;
$middle-gray: #7a7a7a;
$dark-gray:#757575;
$light-gray:#b4b4b4;
$gray-beige:#e7e7e7;
$white:#ffffff;
$green: #4CA92B;
$height-line-square-big: 290px;
$height-line-square-small: 100px;
$dark-blue: #142d68;
$social-media-color: #4c4c4c;
$resort-blue: #21b3ee;
$blackness:#061836;
$orange:#E96B00;
$cream:#ececec;
$gray-resort: #eeeeee;
