* {
	box-sizing: border-box;
}

// Fonts
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";
// Tether
@import "node_modules/tether/src/css/tether.sass";
//Video Interna Destination
@import "node_modules/plyr/src/sass/plyr.scss";
// Slick carousel
@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";
//cookieconsent.scss
@import "cookieconsent.scss";
@import "select2.scss";
@import "bootstrap-datepicker.scss";
@import "../fonts/galano-font/stylesheet-fonts.scss";
@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
@import "owl.carousel.min.scss";
@import "owl.theme.default.scss";
@import "second.scss";
// Includes scss
@import "inc/resorts";
/* estilos para la fuente del sitio */

b,
strong {
	font-family: 'galano';
	font-weight: 500;
}

h2,
h3,
h4,
h5,
p,
a,
li,
label,
input,
select,
span {
	font-family: 'galano';
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size: 1.9em;
	font-weight: 400;
}

.section-intern h2 {
	font-size: 1em !important;
}

input [type="text"],
input [type="email"] {
	font-family: 'galano';
	font-weight: normal;
	font-style: normal;
}
button{cursor: pointer;}
#instagram-section span {
	font-size: 1.5em;
}

.ligera {
	font-family: 'galano';
	font-weight: lighter;
	font-style: normal;
}

body {
	max-width: 1920px;
	margin: 0 auto;
}

.medium {
	font-family: 'galano';
	font-weight: 300;
	font-style: normal;
}

.position-inherity {
	position: inherit !important;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
	/* Chrome/Opera/Safari */
	font-family: 'galano';
	font-weight: 300;
	color: $gray;
	font-style: normal;
}

#pills-hotel :-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: $gray;
	font-weight: 300;
}

#pills-hotel ::-moz-placeholder {
	/* Firefox 19+ */
	color: $gray;
	font-weight: 300;
}

#pills-hotel :-ms-input-placeholder {
	/* IE 10+ */
	color: $gray;
	font-weight: 300;
}

#pills-hotel :-moz-placeholder {
	/* Firefox 18- */
	color: $gray;
	font-weight: 300;
}

/* Estilos generales colores de fuente*/

#je-newsletter a,
ul.menu-principal li>a,
ul.menu-principal li.nav-item:hover>a,
ul.av-style-tabs li a.nav-link.active,
#reviews-section h3,
#je-specials-section li::before {
	color: $blue;
}
input{
	font-family: 'galano';
}
#pills-hotel input {
	color: $gray;
	font-size: .9em;
}

body {
	font-family: 'galano';
	font-weight: 500;
}

.navbar-nav.av-extras {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

ul.navbar-nav.av-extras{
	li{
		
		a {
			font-size: 1em;
		}
	} 
} 

nav.navbar-nav {
	font-size: 12px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	li{
		a{
			&:hover{
				background-color: #08224c;
			}
		}
	}
}

#royal-slider .carousel-item .tam-slide:not(.loaded) {
    min-height: 570px;
    color: transparent;
    background-color: #f5f5f5;
    color: #fff;
    background-image: url(/img/material-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 300px;
}


// Focus Point
.focuspoint {
	position: relative;
	/*Any position but static should work*/
	overflow: hidden;
}

.focuspoint img {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	display: block;
	/* fill and maintain aspect ratio */
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	max-height: none;
	max-width: none;
}

/*****************************************/

.av-list-none {
	list-style: none;
}

.d-unset {
	display: unset !important;
}

.cursor-pointer {
	cursor: pointer !important;
}

.w-90 {
	width: 90%;
}

.w-80 {
	width: 80% !important;
}

.w-60 {
	width: 60% !important;
}

.w-55 {
	width: 55%;
}

.w-44 {
	width: 44%;
}

.w-40 {
	width: 40% !important;
}

.py-custom-5 {
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.pr-6 {
	padding-right: 4rem;
}

.pl-6 {
	padding-left: 4rem;
}

.pt-6 {
	padding-top: 4rem;
}
.pt-2- {
	padding-top: 2rem;
}
.pb-6 {
	padding-bottom: 4rem;
}

.px-6 {
	padding-right: 4rem !important;
	padding-left: 4rem !important;
}

.py-6 {
	padding-top: 4rem !important;
	padding-bottom: 4rem !important;
}
.padding-left-15{
	padding-left:15px;
}

.av-blue {
	color: $blue;
}

.av-white {
	color: white
}

.av-skyblue {
	color: $sky-blue;
}

.av-yellow {
	color: $yellow;
}

.av-social-media-color {
	color: $social-media-color;
}

.av-size-17rem {
	font-size: 1.7rem;
}

.av-green-trips {
	background-color: $green !important;
}

.av-red-trips {
	background-color: #f12525 !important;
}

.av-yellow-trips {
	background-color: $yellow !important;
}

.av-pink-trips {
	background-color: #da005c !important;
}

.av-blue-trips {
	background-color: $sky-blue !important;
}

.av-black-trips {
	background-color: #000000 !important;
}

.av-orange-trips {
	background-color: #e96b00 !important;
}

.av-parrafo {
	line-height: 2;
	font-weight: 300;
	font-size: .9rem;
}

.av-btn-rates {
	border-radius: 0;
	font-size: .8rem;
	background-color: $yellow;
	border-color: $yellow;
	padding: 0.5rem .85rem;
}

.nav-link {
	padding: 0.5rem .8rem !important;
}

.av-bg-yellow2 {
	background-color: $yellow;
}

.av-bg-gray {
	background-color: #E7E7E7;
}

.av-bg-yellow {
	background-color: $yellow;
	color: #fff;
	a {
		color: #fff;
		cursor: default;
		;
	}
}

.av-bg-white {
	background-color: white !important;
}

.av-pr-5px {
	padding-right: 5px;
}

.av-fontsize-point9 {
	font-size: .9rem;
}

.av-fontsize-point8 {
	font-size: .8rem;
}

.av-fontsize-point75 {
	font-size: .75rem;
}

.av-bg-blue {
	background-color: $blue;
	color: #fff;
	a {
		color: #fff;
		cursor: default;
		;
	}
}

ul.social li {
	padding-right: .2rem;
	padding-left: .2rem;
	.dropdown-menu {
		margin: 0;
		border: 0;
		border-radius: 0;
	}
}

.bg-blue {
	background-color: $blue;
}

.txt-blue {
	color: $blue;
}

/*.nav-pills .nav-link.active,
.nav-pills .nav-item.show .nav-link {
	color: $blue;
	cursor: default;
	background-color: #fff;
}*/

.nav-pills .nav-link {
	border-radius: 0rem;
}

.nav-link {
	display: block;
	padding: 0.5em 1em;
}

.header-button {
	ul {
		li {
			.nav-link.active {
				color: $blue;
			}
		}
	}
}

nav.header-top {
	flex-direction: row;
	a {
		color: #fff;
		font-size: 1em;
		font-weight: 300;
	}
}

ul.nav {
	&.nav-pills {
		&.nav-justified {
			&.menu-principal {
				display: -webkit-box !important;
			}
		}
	}
}

.av-text-gray {
	color: rgb(142, 142, 142) !important;
}

ul.menu-principal {
	height: 80px;
	li {
		height: 100%;
		
	}
	li.booking-now {
		background-color: $yellow;
		a {
			border-bottom-color: $yellow !important;
			color: #fff !important;
			cursor: pointer !important;
		}
	}
	li.booking-now:hover>a {
		background-color: $yellow !important;
	}
}

ul.menu-principal li>a {
	border-bottom-style: solid;
	border-bottom-color: #fff;
	font-size: 1rem;
}

ul.menu-principal li.nav-item:first-child:hover>a {
	border-bottom-color: #ffffff;
	;
}

ul.menu-principal li.nav-item:hover>a {
	//background-color: #fff;
	cursor: default;
	border-bottom-style: solid;
	border-bottom-color: $yellow;
}

.border-right-white {
	border-right: 1px solid;
}

.av-border-right-white {
	border-right: solid 5px white;
}

div.dropdown-menu {
	border: 0;
	border-radius: 0;
	margin: 0;
	min-width: 420px;
	div {
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
		ul {
			display: inline-block;
			list-style: none;
			float: left;
			li {
				a {
					color: white;
					border-bottom-style: solid;
					border-bottom-color: transparent;
					cursor: pointer;
					font-size: .9rem;
					text-decoration: none;
				}
				a:hover {
					background-color: $blue;
					color: $sky-blue;
				}
			}
		}
	}
}

li.exception {
	div.dropdown-menu {
		left: unset;
		right: 0;
	}
}

.one-list {
	div.dropdown-menu {
		min-width: 210px !important;
	}
}

ul.dropdown-menu {
	a.dropdown-item{
		
		&:hover {
			background-color: black;
			color: white;
		}
	}
}

ul.menu-principal li:hover div {
	display: block;
}

ul.av-extras {
	font-size: .9rem !important;
	li.nav-item {
		&.dropdown {
			div.dropdown-menu {
				margin: 1px 0;
				border: 0;
				border-radius: 0;
				min-width: 100%;
				a.dropdown-item {
					padding: 3px 1.4rem;
				}
			}
		}
	}
}

.dropdown-menu{
	&.bg-blue{
		&.m-0{
			&.b-0{
				&:hover{
					background-color: $sky-blue;
					transition: 0s !important;
					a{
						background-color: $sky-blue;
						transition: 0s !important;
					}
				}
			}
		}
	}
}

ul.menu-desplegable a:hover {
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
}
.dropdown {
	div {
		background-color: $blue;
		color: #fff;
		a:hover {
			background-color: rgba(0, 0, 0, 0.7);
			color: #fff;
		}
	}
}


.carousel-indicators li {
	border-radius: 250px;
	max-width: 20px;
	height: 20px;
	background-color: rgba(255, 255, 255, 0.3);
	div {
		height: 5px;
		width: 5px;
		border-radius: 250px;
		background-color: white;
		margin: 4px auto;
		display: none;
	}
}

.carousel-indicators {
	bottom: 20px;
}

#carouselExampleIndicators {
	.carousel-indicators {
		&.active {
			background-color: transparent;
			border-color: white;
			border-style: solid;
			div {
				height: 5px;
				width: 5px;
				border-radius: 250px;
				background-color: white;
				margin: 4px auto;
				display: block;
			}
		}
	}
	.carousel-inner {
		.carousel-item {
			img {
				width: 100%;
				min-height: 570px;
			}
		}
	}
}

.av-bg-skyblue {
	background-color: $sky-blue;
	color: #fff;
	a {
		color: #fff;
		cursor: default;
		;
	}
}

.nav-pills .nav-link.active,
.nav-pills .nav-item.show .nav-link {
	color: #fff;
	cursor: default;
	background-color: transparent;
}

.av-h-70 {
	height: 70px;
}

.av-menu-skyblue {
	li {
		a {
			padding: 1em 0 !important;
		}
		a.nav-link.active {
			background-color: transparent;
		}
	}
	li:hover {
		a.nav-link {
			span {
				border-bottom-style: solid;
				border-bottom-color: $yellow;
			}
		}
	}
	li:hover {
		.dropdown-menu {
			display: block;
			background-color: rgba(0, 172, 237, 0.9);
			border-radius: 0;
			margin: 0;
			border: 0;
			z-index: 99;
			width: 100%;
			p {
				color: $white;
			}
			a {
				color: $blue;
			}
			a:hover {
				color: $yellow;
			}
			a.active {
				span {
					color: $blue;
				}
			}
		}
	}
}

.carousel-control-prev {
	display: none;
}

.carousel-control-next {
	display: none;
}

.carousel {
	z-index: 0;
}

//Destination
.section-title {
	letter-spacing: 5px;
	text-transform: uppercase;
}

.txt-light {
	font-weight: 300;
}

ul.av-style-tabs {
	font-size: 1.1em;
	li {
		height: 80px;
		a.nav-link.active {
			span {
				border-bottom-style: solid;
				border-bottom-color: $yellow;
				letter-spacing: 2px;
				font-weight: 400;
			}
		}
		a.nav-link {
			color: gray;
			span {
				letter-spacing: 2px;
				font-weight: 300;
			}
		}
	}
}

// Imagenes de tabs home
.img-tabs {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 300px;
	max-height: 300px;
	.animacion-img {
		background-color: transparent;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		color: #fff;
		text-shadow: 1px 2px 3px #0c2e62; /*se agrega sombra para mejorar visibilidad en home destinos*/
		border-bottom: solid 5px transparent;
		transition: all .5s;
		h5 {
			width: 70%;
		}
		.espacio {
			display: none;
		}
		div {
			padding-bottom: 0px !important;
			p {
				display: none;
				overflow: hidden;
				font-size: 0.85rem;
			}
		}
	}
	div.view-more {
		position: absolute !important;
		bottom: 5px;
		right: 0px;
		font-size: .8rem;
		padding-bottom: .5rem;
	}
}

.img-tabs:hover {
	position: relative;
	.animacion-img {
		background-color: rgba(11, 44, 100, 0.7);
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		color: #fff; //height:35%;
		border-bottom-color: $yellow;
		transition: all .5s;
		.espacio {
			display: block;
		}
		p {
			display: block;
			overflow: hidden;
			height: auto;
		}
	}
	div.view-more {
		padding-bottom: .5rem;
		a {
			color: $sky-blue !important;
			text-decoration: none;
		}
	}
}

//*******************************************
// Resorts 
.grid {
	max-width: 100%;
}

/* clearfix */

.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* ---- grid-item ---- */

.grid-item {
	width: 160px;
	height: 120px;
	float: left;
	margin: 5px 5px 5px 5px;
	box-sizing: border-box;
	position: relative;
}

.grid-item-width2 {
	width: 65%;
}

.grid-item-width3 {
	width: 33%;
}

.grid-item-height2 {
	height: 260px;
}

.grid-item-height3 {
	height: 180px;
}

.grid-item-height4 {
	height: 370px;
}

.img-resort {
	width: auto;
	height: $height-line-square-big;
	position: relative;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	figure {
		overflow: hidden;
		position: relative;
		width: auto;
		height: 100%;
		div {
			width: auto;
			height: 100%;
		}
	}
}

.img-resort-small {
	width: auto;
	height: $height-line-square-small;
	position: relative;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	figure {
		overflow: hidden;
		position: relative;
		width: auto;
		height: 100%;
		img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: auto;
			height: 100%;
		}
	}
}

.img-resort-medium {
	width: auto;
	height: $height-line-square-big;
	position: relative;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	figure {
		overflow: hidden;
		position: relative;
		width: auto;
		height: 100%;
		img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: auto;
			height: 100%;
		}
	}
}

.franja-color {
	.color-bar {
		&.col {
			overflow: hidden;
			height: 80px;
			background-color: $blue;
			h5 {
				margin-bottom: 0;
				font-size: 1rem;
			}
			p {
				margin-bottom: 0;
				font-size: .8rem;
				height: 35px;
				overflow: hidden;
			}
			.inclusive {
				display: inline-flex;
			}
		}
	}
}

.yellow-square {
	width: 100px;
	height: 80px;
	background-color: $yellow;
	.text-uppercase {
		font-size: .7rem;
		color: #fff;
		text-align: center;
	}
	span {
		color: #fff;
		font-size: 1.5rem;
	}
	a {
		color: #fff;
	}
	a:hover {
		color: $blue;
		text-decoration: none;
	}
}

.blue-square {
	width: 100px;
	height: 80px;
	background-color: $sky-blue;
	.text-uppercase {
		font-size: .7rem;
		color: #fff;
		text-align: center;
	}
	span {
		color: #fff;
		font-size: 1.5rem;
	}
	a {
		color: #fff;
	}
	a:hover {
		color: $yellow;
		text-decoration: none;
	}
}

// Estrellas
.estrellas {
	position: absolute;
	bottom: 80px;
	right: 10px;
	label {
		font-size: 1.3rem;
	}
}

input[type="radio"] {
	display: none;
}

label {
	color: #fff;
	font-size: 1.5rem;
	margin: 0;
}

.clasificacion {
	margin: 0;
}

ul.tabs-formularios {
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: normal !important;
	-ms-flex-direction: column !important;
	flex-direction: column !important;
	li {
		a {
			cursor: pointer;
		}
		a.active {
			color: white !important;
		}
	}
}

.tabs-formularios.col-1 {
	flex: 0 0 11%;
	max-width: 10.333333%;
}

#pills-hotel {
	input {
		border-radius: .8rem;
		height: 40px;
		line-height: 40px;
		border: 0px solid rgba(0, 0, 0, 0.15);
	}
	label {
		font-size: 1rem;
		padding: 0 0;
		padding-top: 12px;
		padding-bottom: 10px;
	}
	button {
		border-radius: .8rem;
		overflow: hidden;
		display: flex;
		justify-content: center;
	}
}

#pills-tabContent {
	width: 380px;
}

#pills-hotel-flight {
	input {
		border-radius: .6rem; /*.8rem*/
		border: 0px solid rgba(0, 0, 0, 0.15);
		height: 2.2rem;
	}
	label {
		font-size: 1rem;
		padding: 0 0;
		padding-top: 10px; /*12px*/
		padding-bottom: 8px; /*10px*/
	}
	button {
		border-radius: .8rem;
		display: flex;
		justify-content: center;
	}
	select{
		height: 2.2rem !important;
		border-radius: .6rem;
	}
}
.airport{
	height:2.7rem !important;
	border-radius:0.8rem;
}

#pills-package {
	input {
		border-radius: .8rem;
	}
	label {
		font-size: 1rem;
		padding: 0 0;
		padding-top: 12px;
		padding-bottom: 10px;
	}
	button {
		border-radius: .8rem;
		display: flex;
		justify-content: center;
	}
}

#pills-hotel-movil {
	input {
		border-radius: .8rem;
	}
	label {
		font-size: 1rem;
	}
	button {
		border-radius: .8rem;
		display: flex;
		justify-content: center;
	}
}

#pills-hotel-flight-movil {
	input {
		border-radius: .8rem;
	}
	label {
		font-size: 1rem;
	}
	button {
		border-radius: .8rem;
		display: flex;
		justify-content: center;
	}
}

#pills-package-movile {
	input {
		border-radius: .8rem;
	}
	label {
		font-size: 1rem;
	}
	button {
		border-radius: .8rem;
		display: flex;
		justify-content: center;
	}
}

.formulario {
	position: absolute;
	z-index: 5;
	top: 48px;
}

.av-input-footer {
	justify-content: center;
	input {
		border-radius: .5rem;
		width: 300px;
		height: 40px;
		line-height: 40px;
	}
	button{
		background-color: $yellow;
		color:$white;
		&:hover{
			background-color: $dark-yellow;
		}
	}
}

div.dropdown-menu.lenguage{
	min-width: 105px !important;
}

.container-fluid {
	&.sticky-top {
		&.sticky-active {
			z-index: 1000;
			.bg-blue {
				height: 0;
				opacity: 0;
				overflow: hidden;
				transition: all .3s;
			}
		}
		.bg-blue {
			transition: all .2s;
		}
	}
}

.av-no-flex {
	flex: none !important;
}

.border-inferior-gris {
	border-bottom: solid 15px #ddd;
}

.av-img-resort-movil {
	height: 230px;
	position: relative;
	background-position: 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.av-estrellas-movil {
	border-bottom: solid 1px #ddd;
	padding-bottom: 6px;
}

ul.datos {
	list-style: none;
	padding: 0% 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: absolute;
	top: 25%;
	li:before {
		content: '• ' !important;
	}
}

.ui-datepicker {
	font-size: 11px;
}

a.av-subrayado-yellow:hover {
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-color: $yellow;
}

a.av-subrayado-yellow:focus {
	color: $blue;
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-color: $yellow;
}

a#mostrar_menu_movil:focus {
	color: $sky-blue;
}

a#mostrar_menu_movil:active {
	color: $sky-blue;
}

a#mostrar_menu_movil:hover {
	color: $sky-blue;
}

div#reservation {
	a {
		color: #fff;
		font-weight: 300;
	}
}

div#accordionMovil {
	.card {
		background-color: $blue;
		border: unset;
		border-radius: unset;
		a {
			color: white;
			cursor: pointer;
			font-weight: 300;
			border-bottom: 1px solid $blue;
			&:hover {
				border-bottom: 1px solid #fff;
				width: 99%;
			}
		}
		a[data-toggle]:hover {
			background-color: $sky-blue;
		}
		a.disabled {
			color: $sky-blue;
			cursor: default;
			border-bottom: 1px solid #0c2d63;
		}
	}
}

.datepicker {
	border: none;
	color: $sky-blue;
	font-family: Questrial, sans-serif;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 30px !important;
}

.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
	background: white !important;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
	background-image: linear-gradient(to bottom, #fdb31a, #fdb31a) !important;
	border-radius: 50% !important;
	color: white !important;
}

.datepicker-days .today {
	display: flex;
	justify-content: center;
	width: 30px;
	height: 30px;
	align-items: center;
	color: $sky-blue;
}

.datepicker table tr td.today:hover:hover {
	background: $yellow !important;
	color: #000;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
	/*color: #a3a9ab !important;*/
	color: #d39391 !important;
    background-color: #efecec;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
	/*background: transparent !important;*/
	color: $sky-blue;
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
	background-image: linear-gradient(to bottom, $blue, $blue) !important;
	border-radius: 50% !important;
}
.datepicker .dow, .datepicker td,.datepicker td, .datepicker th{
	font-size: 1.3em;
	font-weight: 500;
}
#oculto {
	position: absolute;
	left: -100%;
	top: 0px;
	height: 100vh;
	z-index: 10000;
	transition: 1s ease;
}

div.menu-oculto {
	width: 71%;
	background-color: $blue;
	overflow: hidden;
	transition: left 0.5s ease;
	div.scroll-movil {
		height: 100vh;
		overflow: scroll;
	}
}

.opacity {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 70%, rgba(0, 0, 0, 0.64) 99%, rgba(0, 0, 0, 0.8) 100%);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 70%, rgba(0, 0, 0, 0.64) 99%, rgba(0, 0, 0, 0.8) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 70%, rgba(0, 0, 0, 0.64) 99%, rgba(0, 0, 0, 0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}

ul.av-destination-new-tabs {
	li {
		background-color: #B4B4B4;
		a {
			color: white;
			border-bottom-style: solid;
			border-top-style: solid;
			border-bottom-color: transparent;
			border-top-color: transparent;
		}
		a.nav-link {
			&.active {
				background-color: $sky-blue;
				border-bottom-style: solid;
				border-bottom-color: $yellow;
			}
		}
	}
	li:not(:last-child){
		border-right: solid 1px white;
	}
}

#pills-destination-page {
	div.img-tabs {
		border-bottom: solid 20px $blue;
		h5 {
			color: #fff;
			text-shadow: 1px 2px 3px #0c2e62; /*se agrega sombra para mejorar visibilidad en beach destinations*/
		}
	}
}

a.av-btn {
	color: white;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 5px;
	text-decoration: none;
	display: inline-block;
	width: 160px;

	text-align: center;
	text-decoration: none;

}

.av-bg-image-destination {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 600px;
}

a.no-decoration {
	text-decoration: none;
}

.hover-blue:hover {
	color: $sky-blue
}

a[aria-expanded="true"] {
	div.img-tabs {
		border-bottom-color: $yellow !important;
	}
}

div.image-menu {
	min-width: 10rem;
	div {
		max-height: 200px;
		overflow: hidden;
		div.col-3 {
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: 105px;
			margin-left: .5rem;
		}
		div.col-8 {
			padding-left: 15px;
			font-size: .8rem;
			text-align: left;
			overflow: hidden;
		}
	}
}

.av-line-height-12 {
	line-height: 12px;
}

.av-paddingtop-12 {
	padding-top: 2px;
}

ul.nav {
	&.usefull-information-destination {
		width: 80%;
		justify-content: space-between;
		li:first-child {
			color: $sky-blue;
			a {
				font-size: 1rem !important;
			}
		}
		li {
			a.nav-link {
				display: inline-flex;
				font-size: 10px;
				max-width: 140px;
				padding: 0.8rem .4rem !important
			}
			img {
				display: inline-flex;
				height: 20px;
			}
		}
	}
}

.opacity-right {
	background-color: #3E3E3E;
	-webkit-box-shadow: -12px 3px 13px 0px rgba(0, 0, 0, 0.85);
	-moz-box-shadow: -12px 3px 13px 0px rgba(0, 0, 0, 0.85);
	box-shadow: -10px -2px 9px 3px rgba(0, 0, 0, 0.85);
	height: 100%;
}
.blue-right {
 background-color: $blue;
}
.opacity-left {
	background-color: #3E3E3E;
	box-shadow: 10px 1px 10px 1px rgba(0, 0, 0, 0.85);
	height: 100%;
	z-index: 9;
	height: auto;
}

.food {
	display: flex;
	flex-wrap: wrap;
	.food-destination-image {
		height: 455px;
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		width: 50%;
	}
	.food-destination-text {
		width: 50%;
		padding: 10px;
	}
}

div.resort-destination {
	div.col-4 {
		height: 455px;
	}
	div.col-4:not(:last-child) {
		box-sizing: border-box;
		border-right: solid 16px #fff;
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		div.row {
			background-color: $blue;
			color: white;
			font-size: .9rem;
		}
	}
	div.col-4:last-child {
		box-sizing: border-box;
		.row {
			.col-12 {
				background-color: $blue;
				color: white;
				font-size: .9rem;
			}
		}
		div.row {
			box-sizing: border-box;
			height: 50%;
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
		}
		div.row:first-child {
			border-bottom: solid 8px white;
		}
		div.row:last-child {
			border-top: solid 8px white;
		}
	}
}

.carousel-destination,
.carousel-tours,
.carousel-type-of-trips,
.carousel-specials, 
.carousel-specials2, 
.carousel-specials3 {
	div {
		height: 80px;
		width: calc(100% / 7);
		color: white;
		cursor: pointer;
		span {
			font-size: .8rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	div:not(:last-child) {
		border-right: solid 1px white;
	}
	&.slick-initialized {
		.slick-slide{
			background-color: $blue;
			&>div {
				width: 100% !important;
			}
		}
		
	}
	.slick-current {
		.d-flex {
			&.align-items-center {
				&.justify-content-center {
					&.flex-column {
						background-color: $sky-blue;
					}
				}
			}
		}
	}
	.slick-current {
		.d-flex {
			&.align-items-center {
				&.justify-content-end {
					&.flex-column {
						background-color: $sky-blue;
					}
				}
			}
		}
	}
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	width: 100%;
}

.carousel-type-of-trips {
	div {
		height: 80px;
		width: calc(100% / 7);
		color: white;
		cursor: pointer;
		span {
			font-size: .8rem;
			height: unset;
		}
	}
	&.slick-initialized {
		.slick-slide>div {
			width: 100% !important;
		}
	}
	div:not(:last-child) {
		border-right: solid 1px white;
	}
}

.toDo-destination {
	.toDo-destination-image {
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 455px;
	}
	.opacity-right {
		height: 455px;
		p {
			font-size: .9rem;
		}
	}
}

#destination-bar,
#trips-bar,
#package-bar,
#tours-bar {
	width: 100%;
	height: 8px;
	svg {
		display: block;
	}
}

ol.breadcrumb {
	background-color: white;
	li {
		color: $sky-blue;
		font-size: .8rem;
	}
	a {
		color: $sky-blue;
		text-decoration: none;
		font-size: .8rem;
		color: $sky-blue;
	}
	a:hover {
		color: $gray;
	}
	li:last-child span{
  		border-bottom: 1px #fdb319 solid;
    	color: #929090;
    	cursor: default;
	}
}

.breadcrumb-item+.breadcrumb-item::before {
	color: $sky-blue;
	content: ">";
}

.images-webcams {
	div.row {
		div.col-md-4 {
			&.col-sm-6 {
				div.img-web{
					height: 470px;
					background-position: 50%;
					background-repeat: no-repeat;
					background-size: cover;
					width: 100%;
				}
				box-sizing: border-box;
				padding-bottom: 16px;
				padding-right: 8px;
				padding-left: 8px;
				cursor: pointer;
				a {
					position: absolute;
				}
				div.section-blue {
					background-color: $blue;
					color: white;
					font-size: .9rem;
					div{
						padding-bottom: .7rem;
					}
				}
			}
		}
	}
}

.modal-webcams {
	&.modal {
		.modal-dialog {
			max-width: 900px;
			.modal-content {
				border-radius: 0px;
				.modal-header {
					background-color: $blue;
					border-bottom: solid 6px $yellow;
					padding: 8px;
					.modal-title{
						padding-bottom: .1rem;
					}
					button {
						position: absolute;
						right: 10px;
						top: 0;
						font-size: 1.8rem;
					}
				}
				.modal-body {
					padding: 15px .7rem;
					padding-bottom: 0px;
				}
				.modal-bottom-text{
					padding-bottom: .7rem;
					&.to-button{
						a {
							text-decoration: none;
							padding: 10px 20px;
							color:$blue;
							line-height: 0;
							background-color: $yellow;
							padding-bottom: .9rem;
							&:hover{
								background-color:#ec971f;
							}
						}
					}

				}
			}
		}
	}
}
.modal-webcams{
	&.modal{
		&.checkAvailabityModal{
			.modal-dialog{
				max-width: 500px !important;
			}
		} 
	}
}

.element-royal {
	div.align-items-end {
		height: 300px;
		background-color: gray;
		border-right: solid 3px white;
		border-left: solid 3px white;
		border-bottom: solid 6px white;
		a.bold {
			background-color: $green;
			padding-left: 1rem;
			padding-right: 1.3rem;
			padding-bottom: 4px;
			padding-top: 4px;
			font-size: .8rem;
			color: white;
			text-decoration: none;
		}
		.estrellas-resort {
			label {
				font-size: 1rem;
				color: $yellow;
			}
		}
		p {
			height: 0;
			overflow: hidden;
			font-size: .75rem;
		}
		a.av-btn-yellow {
			display: block;
			text-align: center;
			background-color: $yellow;
			padding-top: 13px;
			padding-bottom: 13px;
			text-decoration: none;
			border-top: solid 1px;
		}
	}
}

.av-size-8rem {
	font-size: .8rem;
}

.element-royal {
	div.align-items-end:hover {
		&>.row{
			&.no-gutters{
				background-color: rgba(11, 44, 100, 0.92);
				transition: all .5s;
			}
		}
		p {
			transition: all .5s;
			height: auto;
			padding-top: 5px;
			transition: all .2s;
		}
	}
	.av-btn-yellow:hover {
		background-color: $sky-blue !important;
		color: white;
		border-top: solid 1px !important;
	}
}

.modal-manage {
	&.modal {
		.modal-dialog {
			max-width: 600px;
			margin: 16% auto;
			p {
				font-size: .9em;
				text-align: justify;
			}
			.modal-content {
				border-radius: 0px;
				.modal-header {
					background-color: $blue;
					border-bottom: solid 6px $yellow;
					padding: 8px;
					button {
						position: absolute;
						right: 5px;
						top: 0;
					}
				}
				.modal-body {
					color: #636c72;
					
					padding-bottom: 0px;
					.manage-reservation {
						#inputEmailManage {
							width: 100%;
							height: 40px;
							line-height: 40px;
							padding: 0 10px;
							
						}
						width:100%;
						justify-content: space-around;
						.manage-button {
							width: 20%;
							margin: 0 5px;
							button {
								border-radius: .8em !important;
								height: 40px;
								cursor: pointer;
							}
						}
						.manage-input {
							width: 35%;
							margin: 0 5px;
							button,
							input {
								width: 100%;
							}
							input {
								width: 35%;
								appearance: none;
								font-family: 'galano';
								-webkit-appearance: none;
								border-radius: .8em;
							}
						}
						.destination-combo {
							width: 35%;
							position: relative;
							select {
								appearance: none;
								-webkit-appearance: none;
								width: 100%;
								border-radius: .8em;
								height: 40px;
								line-height: 40px;
								padding: 0 10px;
							}
							&:after {
							    background-color: #c5c5c5;
								-webkit-mask-image: url(/img/angle-down.svg);
								mask-image: url(/img/angle-down.svg);
								width: 14px;
								content: " ";
								position: absolute;
								z-index: 100;
								top: 10px;
								right: 15px;
								height: 25px;
								position: absolute;
								pointer-events: none;

							}
						}
					}
				}
				a {
					text-decoration: none;
				}
				small {
					font-size: .7em;
				}
			}
		}
	}
}

ul.content-information {
	display: none !important;
}

ul.content-information {
	&.active {
		display: block !important;
	}
}

ul.menu-information {
	li {
		position: relative;
		div {
			position: absolute;
			color: transparent;
			background-color: transparent;
			left: 0;
			bottom: 0;
			border-bottom: solid 1px transparent;
		}
	}
	li.active {
		div {
			width: 75px;
			border-bottom: solid 1px $yellow;
		}
	}
}

div#resort-menu {
	&.dropdown-menu {
		min-width: 530px;
		left: -100px;
		ul.menu-information li.active {
			font-weight: 600;
			div {
				width: 25px;
			}
		}
		div {
			ul {
				li {
					a {
						font-size: .85rem;
						line-height: 2rem;
					}
				}
			}
		}
	}
}

.subInterna-resorts {
	.row {
		&.no-gutters {
			font-size: .9rem;
			.img-subInterna-resort-right {
				height: auto;
				background-position: 50%;
				background-repeat: no-repeat;
				background-size: cover;
				width: 100%;
			}
			.banner-subInterna {
				height: 370px;
				background-position: 50%;
				background-repeat: no-repeat;
				background-size: cover;
				width: 100%;
			}
		}
	}
}

.img-tourpackages-individual {
	.col-md-3 {
		div {
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: 300px;
			background-position: 50%;
		}
	}
}

.content-carousel-specials {
	.specials-package {
		position: relative;
		.border-fondo-white {
			border-bottom: solid 1px white;
			.section-title-package{
				height: 110px;
				h4{
					width: 400px;
				}
			}
		}
		div.icons-bottom {
			&.row {
				div.d-flex {
					&.align-items-center {
						&.justify-content-center {
							&.flex-column {
								img {
									width: 30px;
								}
								span {
									font-size: .8rem;
								}
							}
						}
					}
				}
			}
		}
		.av-bg-yellow2 {
			.estrellas-specials {
				label {
					font-size: 1rem;
				}
			}
		}
		.list-specials {
			ul.av-fontsize-point9 {
				list-style: none;
			}
		}
	}
}

a.btn-specials {
	background-color: $blue;
	color: white ;
	border-radius: 0;
	font-size: .7rem;
	line-height: 1;
	padding: .5rem .7rem;
	width: auto;
	overflow: hidden;
	padding-bottom: .7rem;
	&:hover{
		color: white;
		background-color: $sky-blue;
		transition: all .5s;
	}
	&:focus{
		color: white !important;
	}
}

.square-timer {
	width: 165px;
	height: 60px;
	color: white;
	background-color: $yellow;
	position: absolute;
	top: 25px;
	left: 0;
	#timer1,
	#timer2,
	#timer3,
	#timer4 {
		color: white;
		font-size: 1.3rem;
	}
	span {
		color: white;
	}
	span.deal-small{
		font-size: .7rem !important;
		letter-spacing: .4px !important;
	}
}

.left-yellow-resort {
	.element-yellow {
		.content-deals {
			height: 54px;
			margin-bottom: 6px;
			&.text-center {
				&.price-special {
					div.deal-medium {
						letter-spacing: -1px;
						font-size: 1.3em;
						font-weight: 700;
					}
					span.deal-small{
						font-weight: 500;
						font-size: .7em;
					
					}
				}
				span.deal-small{
					letter-spacing: .4px !important;
				}
			}
		}
		.section-price-stars{
			span{
				font-size: .75rem;
			}
		}
	}
}

.reviews-element {
	img.img-reviews {
		width: 80px !important;
		height: 80px;
	}
	span.tag-reviews {
		border: solid 1px;
		border-radius: .3rem;
		padding: 2px 7px;
		line-height: 1;
		padding-bottom: 6px;
	}
	p.content-reviews {
		line-height: 2.1;
	}
}

.review-item .reviews-element {
	position: relative;
}

.review-item .reviews-element:after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #929090;
	margin: 0 auto;
	position: absolute;
	top: -1px;
}

.review-item.av-bg-yellow .reviews-element:after {
	background-color: #fff;
}

.review-item.av-bg-yellow+.review-item .reviews-element:after {
	background-color: #fff;
	top: 0;
}

.list-rate-planes {
	border-bottom: 2px dashed gray;
	ul.list {
		list-style: none;
		li {
			span{
				line-height: 1.1;
			}
		}
	}
}

body.firefox{
	.list-rate-planes {
		ul.list {
			li {
				img.list-exception-item{
					max-width: 24px !important;
				}
			}
		}
	}
}


.carousel-payment {
	.slick-slide {
		width: 330px !important;
	}
}

.paymenul{
	a:hover{
		color: $sky-blue;
	}
}

.hidden-resort {
	overflow: hidden;
	transition: all .5s;
	height: 0;
}

.show-resort {
	height: auto;
	transition: all .5s;
}

.resort-rooms {
	.right-column-rooms {
		.list-amenitys-rooms {
			ul {
				li {
					flex: 0 0 calc(100% / 3);
				}
			}
		}
		.resort-room {
			height: 100%;
			.first-content {
				span {
					font-size: .75rem;
				}
			}
			.list-rooms {
				border-bottom: solid 1px $gray;
				span {
					font-size: .75rem;
				}
				ul {
					max-height: 250px;
					overflow: auto;
					list-style: none;
					li::before {
						content: "• ";
						color: $sky-blue;
						padding-right: 10px;
					}
					li {
						font-size: .85rem;
						overflow: hidden;
					}
				}
			}
			.resort-booking {
				&.rooms-customizer {
					max-width: 100%;
					.resort-booking-price {
						padding: 3px 12px;
					}
					.resort-booking-upgrade {
						&>a::after {
							width: 0;
						}
						&>a {
							padding: 4px 15px;
						}
					}
				}
			}
		}
	}
	.slick-dots {
		bottom: 17px;
		li button:before {
			color: white;
			opacity: 1;
		}
		li.slick-active button:before {
			color: $gray;
			opacity: 0.75;
		}
		li {
			margin: 0;
		}
	}
	.label {
		position: absolute;
		width: auto;
		background-color: $blue;
		color: white;
		top: 15px;
		left: 0px;
		padding: .6rem 1.3rem;
		a {
			color: $yellow;
			font-size: .8rem;
			text-decoration: underline;
		}
	}
	.label::after {
		content: "";
		display: block;
		position: absolute;
		background-color: $blue;
		width: 8px;
		bottom: -5px;
		left: 0;
		height: 13px;
		z-index: -1;
		-webkit-transform: skewY(-45deg);
		transform: skewY(45deg);
	}
}

.apear-all {
	transition: .6s linear;
	animation-name: slide-all;
	animation-duration: .4s;
}

.apear-mexican,
.apear-caribean {
	transition: .6s linear;
	animation-name: slide;
	animation-duration: .4s;
}

@keyframes slide {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes slide-all {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

ul.tabs-galeria {
	li.nav-item {
		line-height: 2;
		background-color: $sky-blue;
		a.nav-link {
			color: white;
		}
	}
}

.galeria-section {
	ul.gallery-gallery-nav {
		&.slick-initialized {
			&.slick-slider {
				height: auto;
				padding: 0;
				margin: 0;
				li {
					img {
						max-width: 100%;
						width: 100%;
						height: auto;
					}
				}
				.slick-slide {
					padding-right: 7px;
				}
				button.slick-arrow {
					background-color: #e1e1e1;
					width: auto;
					height: auto;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					&.slick-next {
						right: -14px;
					}
					&.slick-prev {
						left: -14px;
					}
					&.slick-prev:before,
					&.slick-next:before {
						font-family: "slick";
						font-size: 20px;
						line-height: 1;
						color: white;
						opacity: 0.75;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
					&.slick-next:before,
					&.slick-prev:before {
						padding: 16px 10px;
						line-height: .3;
						display: list-item;
						color: #626262;
					}
					&.slick-next:before {
						content: ">";
						list-style: none;
					}
					&.slick-prev:before {
						content: "<";
						list-style: none;
					}
				}
			}
		}
	}
	#gallery-buttons {
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		list-style: none;
		padding: 0px;
		button {
			height: 95px;
			background-color: $sky-blue;
			color: white;
			border: 0;
			border-left: solid 1px white;
			border-top: solid 1px white;
			cursor: pointer;
			padding-left: 25px;
		}
		button.active {
			background-color: $yellow;
		}
	}
	#pills-photography {
		.section-gallery-gallery {
			height: 475px;
			ul {
				height: auto;
			}
		}
	}
}

.tabs-galeria-slick{
	li{
		cursor: pointer;
		border-right: solid 1px white;
	}
	.slick-slide{
		&.slick-current{
			&.slick-active{
				li{
					background-color: $blue;
					cursor: pointer;
				}
			}
		} 
	} 
}

.buttons-destination{
	a{
		padding-bottom: 0.7rem !important;
	}
}


.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}

.button-modal-book{
	text-decoration: none;
    padding: 30px 30px;
    color: #0c2d63;
    line-height: 0;
    background-color: #fdb319;
    border: 0;
}
.button-modal-book:hover{
	background-color: #ec971f;
}
.button-form-book {
    text-decoration: none;
    color: #fff;
    line-height: 0;
    background-color: #0c2d63;
    border: 0;
    width: 100%;
    height: 100%;
}
.button-form-book:hover {
    background-color: #061836;
    -webkit-transition: .8s ease;
    transition: .8s ease;
}

.w100{
	width:100% !important;
	padding-left:20px !important;
}
select#adults.form-control.w100, select#children.form-control.w100{
	padding-left:20px !important;	
}
.av-btn-rates-home{
	background: none;
    border: none;
    padding: 0.5rem .85rem;
}
.av-btn-rates-home:hover{
	color:#0c2d63;
	background: none;
    border: none;
    padding: 0.5rem .85rem;
}
.av-blue2 {
    color: #152f67;
    background-color: white;
    padding-right: 10px;
}
/*corrige texto que se alinea a la derecha al faltar icono de restaurantes en landing*/
.mosaic-wrapper .mosaic-first .secundarios div:hover .info .texto { 
    width: 100% !important;
}
.mosaic-wrapper .mosaic-last .secundarios div:hover .info .texto {
    width: 100% !important;
}
.mosaic-wrapper .mosaic-last .principal .info .texto {
    width: 100% !important;
}

/*menu fixed resorts*/
.fixed{
	position: fixed;
    z-index: 2;
    width: 100%;
}
.mtop-10{
	margin-top:20px;
}
.pbottom-2{
	padding-bottom: 2%;
}
.shadow{text-shadow: 1px 2px 3px #0c2e62;}
.gray-font{ color:#929090;}

/*formato en listas*/
.subinterna {
	li {
		line-height: 2;
	    font-weight: 300;
	    font-size: .9rem;
	    color:#292b2c;
	}			
}

/*landing ofertas nueva version*/
.txt01 {color: #fff;}
.txt02 {color: #feb31a;}
.txt03 {font-size: .9rem;font-weight: 300;line-height: 2;}
.txt04 {color: #0c2d63;}
.txt05 {font-weight: bold;color: #0c2d63;padding-bottom: 15px;line-height: 2rem;text-shadow: 1px 1px #fff;}
.txt06 {font-size: .8rem;}
.txt07 {font-size:1.1rem;margin-bottom: 0;margin-left: 10px;}
.txt08 {font-size: 1rem;margin: 0;line-height: 20px;}
.txt09 {margin: 0;}
.txt10 {font-size: 0.8rem;margin: 0;line-height: 1rem;}
.txt11 {font-size: 1.6rem;font-weight: 800;margin: 0;line-height: 36px;}
.txt11 span {font-size: .8rem;}
.txt12 {padding: 0px 0px 25px;font-size: 1.1rem}
.txt13 {position: absolute;bottom: 12px; right: 15px; width: auto;}

.img01 {}
.con01 {
	background: #ececec;
	color: #606060;	
}
.con02 {
	background: #feb31a;
    padding: 30px;
    margin: 85px 25px 25px 25px;
    text-align: center;
}
.back01 {padding: 10px;}
p span {color: #9b9b9b;}
.bor01 {
	border-bottom: 1px solid #0c2d63 !important;
	border-left: 1px solid #0c2d63 !important;
	border-right: 1px solid #0c2d63 !important;
	padding: 20px;
}


.link01 {
	display: block;	
	text-align: right;
	color: #0c2d63;
}
.margen01 {
	margin-bottom: 30px;
}
.margen02 {position: relative;}
.margen03 {margin-top: 30px;}
.separador {clear: both;}


.blockleft {background: red;}
.blockright {background: green;}

.datepicker .dow, .datepicker td, .datepicker td, .datepicker th { font-size: 1.1em; }
.fsmall{font-size: small;}
.w50{ width:50% !important;}
.w32{ width:32% !important;}
.w25{ width:25% !important;}
.w24{ width:24% !important;}
.w23{ width:23% !important;}
.w15{ width:15% !important;}
.w13{ width:13% !important;}
.w12{ width:12% !important;}
.w10{ width:10% !important;}
.w88{ width:88%;}
.modalMin{ max-width: fit-content !important;}


@media (min-width: 1200px) {
	.bor02 {height: 440px;}
	.bor02a {height: 280px;}
}

@media (max-width: 768px) {
	.con02{margin: 25px 25px 25px 25px;}
	.w50{ width:100% !important;}
}

/* ++++++++++++  estilos de landing +++++++++++ */

$azultitulos: #0c2d63;
$gristitulos: #515151;
$gristextos: #292b2c;
$grisfondo: #dddede;
$grisborde: #d9d9d9;
$naranja: #ea5e00;
$orolinks: #b8b078;
$blanco: #fff;
$fondoofertas: #f0f0f0;
$amarillo: #feb31a;
$rojo: #FF0000;

.oculto{ display:none;}

.visible{display:inline;}

.m001land {
	max-width: 1400px;
	margin: auto;
}

.centrado{width: 100%;margin: auto;}

.txtland {color: $gristextos !important; line-height: 1.5 !important; font-weight: 300 !important; font-size: .9rem !important;text-align:justify; margin-left:0px;}

.tituloh1, .tituloh2, .tituloh3, .tituloh4, .tituloh5, .tituloh6 {color: $azultitulos}
.tituloh1{font-size: 1.5rem; text-transform: uppercase;}
.tituloh2{font-size: 1.3rem;margin-bottom: 5px;  margin-left:0px;}
.tituloh3{font-size: 1rem; text-transform: uppercase;}
.tituloh4{font-size: .7rem}
.tituloh5{font-size: .5rem}
.tituloh6{font-size: .3rem}

.carruselofertas{
	background: $grisfondo;
}

.fondoofertas{
	background: $fondoofertas;
	margin-bottom: 60px;
}

.titoferta{
		color: $azultitulos;
		font-size: 1.3rem;
		font-weight: 600;
		line-height: 3rem;
		margin: 5px 5px 10px 20px;
		text-transform: uppercase;
}
.subtitoferta{
		color: $gristextos;
		font-size: 1rem;
		/*margin: 13px 15px 2.5rem 60px;*/
		margin:5px 15px 0.9rem 15px;
		font-weight: 500;
		display: block;
		line-height: 1.2rem;
}

.icon{float: left;margin: 5px 0 0 20px; width: 29px !important; height: 41px !important;}
p{margin:5px 20px;}
.more{
		color: $gristextos;
		text-decoration: underline !important;
		display: block;
		text-align: right;
		font-weight: 500;
		margin: 0 20px 20px;
	}	
.carruselofertaind{
	border: 1px solid $grisborde;
	color: $gristextos;
	width: 375px;
	position: relative;
	background: $blanco;
	/*.titoferta{
		color: $azultitulos;
		font-size: 1.3rem;
		font-weight: 600;
		line-height: 3rem;
		margin: 5px 5px 10px 20px;
		text-transform: uppercase;
	}
	.subtitoferta{
		color: $gristextos;
		font-size: 1rem;
		margin: 13px 15px 2.5rem 60px;
		font-weight: 500;
		display: block;
		line-height: 1.2rem;
	}
	.icon{float: left;margin: 5px 0 0 20px;width: auto !important;}
	p{margin:5px 20px;}
	.more{
		color: $gristextos;
		text-decoration: underline !important;
		display: block;
		text-align: right;
		font-weight: 500;
		margin: 0 20px 20px;
	}
	*/
}

.offerset{
	border: 1px solid $grisborde;
	color: $gristextos;
	width: 362px;
	position: relative;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(208,216,219,1);
	-moz-box-shadow: 0px 0px 5px 2px rgba(208,216,219,1);
	box-shadow: 0px 0px 5px 2px rgba(208,216,219,1);
	margin: 25px auto 13px;
	background: $blanco;
	.zoom{
		width: 30px;
		position: absolute;
		top: 160px;
		right: 15px;
	}
	.gpoestrellas{
		/*position: absolute;*/
		/*top: 230px;*/
		right: 10px;
		font-size: .5rem;
		label {color: $amarillo;font-size: 1rem;}
	}
	.titresort{
		color: $azultitulos;
		font-size: 1.2rem;
		font-weight: 400;
		line-height: 1.3rem;
		margin: 0;
		margin-left: 20px;
		margin-right:20px;
		margin-top: 5px;
		margin-bottom: 3px;
	}
	.titdestino{
		color: $gristextos;
		font-size: 0.9rem;
		margin: 0;
		margin-left: 20px;
		font-weight: 300;
	}
	.titoferta{
		color: $naranja;
		font-weight: 700;
		font-size: 1rem;
		margin: 0;
		margin-left: 20px;
		line-height: 1rem;
	}
	.inclusiones{
		margin: 10px;
		list-style-image: url('/img/icon-galeria/check-icon.png');
		li{font-size: .9rem;}
	}
	.more{
		color: $orolinks; 
		text-decoration: underline !important;
		display: block;
		position: absolute;
		right: 30px;
	}
	.margenMore{
	    padding: 0px 20px;
    	text-align: end;
	}
	.moreInterna{
		color: $orolinks; 
		text-decoration: underline !important;
		display: block;

	}
	.date{
		margin-bottom: 5px;
		margin-left: 25px;
		span{font-size: .8rem;}
	}
	.oferta{
		font-size: 1.3rem;
		font-weight: 700;
		display: block;
		color: $gristitulos;
		padding: 10px 10px 5px;
		margin: 8px 8px 13px;
		line-height: 1.1;
		width: 60%;
	}
	.reserva{
		background: $naranja;
		color: $blanco;
		padding: 2px 24px 7px;
		text-align: center;
		font-weight: 600;
		right: 20px;
		bottom: 16px;
		position: absolute;
	}

}

.modal-content p{ font-size:12px; text-align: justify; margin: 10px 0px;}
.modal-content .terms{ font-size:10px; text-align: justify; margin: 10px 0px;}
.modal-content ul{ font-size:12px; }

.filtrooferta{
	justify-content: space-around;
}

.color1{color: $blanco;}

.special-destino-filtro .combo-box {
	width: 25%;
    display: inline-block;
}
.booking-title-movil {
	display: unset;
}

/** ajustes booking **/
.titbookinggeneral{
	display: none;
}

// Reloj timer circular
.ag-format-container {width: 400px;margin: 30px auto 0;}
.js-ag-timer-block {position: relative;}
.js-ag-timer_item {text-align: center;position: absolute;}
.js-ag-timer_num {line-height: 1.2 !important;}
.txtResaltado{font-size: 2rem;text-align: center;font-weight: 500;color: red;}

// Carrusel
//.owl-carousel .owl-item img {width: auto;}
.titulocentrado{text-align: center;padding: 20px;}

@media screen and (max-width: 320px) {
	.offerset .gpoestrellas{top: 181px;}
	.offerset .oferta{width: 40%;text-align: center;}
	.offerset .zoom {top: 110px;}
	/*.special-destino-filtro .combo-box {width: 100%;margin: 0 0px;}*/
}
@media only screen and (max-width: 767px) {.ag-format-container {width: 96%;}}
@media only screen and (max-width: 639px) {}
@media only screen and (max-width: 479px) {}
@media (min-width: 768px) and (max-width: 979px) {.ag-format-container {width: 750px;}}
@media (min-width: 980px) and (max-width: 1161px) {.ag-format-container {width: 960px;}}
@media screen and (max-width: 47.9375em) {
	.formulario {width: 100% !important;}
	.titbookinggeneral{font-weight: 600;}
}
@media screen and (max-width: 90em) {
	.m001land {max-width: 100%;margin: auto;}
	.offerset .gpoestrellas{top: 202px;}
	.offerset .zoom {top: 140px;}
	.offerset .oferta{width: 46%;text-align: center;}
	.offerset .more{right: 20px;bottom: 75px;}
	/*.special-destino-filtro .combo-box {width: 30%;margin: 0 60px;}*/
}
.tx-amarillo{color:#fdb319;}

/*filtros*/
/*Dropdown Button */
.dropbtn {
  background-color: #0c2d63;
  color: white;
  padding: 10px 15px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdownFiltro {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-left:8px;
  padding-right:8px;
}
.dropdownContent label{ color:#292b2c;}

/* Show the dropdown menu on hover */
.dropdownFiltro:hover .dropdownContent {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownFiltro:hover .dropbtn {
  background-color: #0c2d63;
}
.dropdownContent input[type=checkbox]
{
  width: 18px;
  height: 18px;
  border: 0.0625em solid rgb(192,192,192);
  border-radius: 0.25em;
  vertical-align: bottom;
  line-height: 1em;
  font-size: 14px;
  margin-right: 5px;
}
