
@import "variables";

//clases para fondos
.je-orange {
	background: $orange;
}
.je-bg-blue {
	background-color: $blue;
}
.je-bg-gray {
	background: $black-gray;
}
.bg-dark-gray {
	background: $dark-gray;
}
.je-bg-lgray {
	background: #e7e7e7;
}

.je-bg-white {
	background: $white!important;
}
.je-bg-cream {
	background: $cream;
}
//clases para bordes con color amarillo
.je-border-yellow {
	border-color: $yellow !important;
	border: 2px solid;
	border-width: 5px 0 5px 0;
}
.border-blue {
	border-color: $sky-blue !important;
}
//quitar borde a un elemento
.je-border-none {
	border: none !important;
}
//colores de fuente

.color-sky,.je-text-blue {
	color: $sky-blue !important;
}
.color-gray{
    color: $gray !important;
}

footer {
	position: relative; //margin-top: 4%;
}
//alineaciones
.justify {
	text-align: justify;
}
.center {
	text-align: center;
}
//Titulos
.titulo {
	font-weight: 400;
	color: $blue;
	text-transform: uppercase;
}

.tituloresort {
	font-size: 1.5em;
}
//estilos para fuentes
.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize !important;
}
.subtitulo {
	font-weight: 500;
	font-size: 1.1em;
	text-transform: uppercase;
}

//Estilos booking
.booking-title-movil {
	display: none;
}

#booking-movil {
	width: 60%;
	margin: 2px 20%;
	border: 0;
	padding: 5px 15px;
}

#info-booking-section p,
#info-booking-section ul li {
	color: #606060;
	text-align: justify;
}


#info-booking-section ul {
	list-style: none;
	padding: 0 15px;
	margin: 0;
	display: inline-block;
}

#info-booking-section li {
	padding-left: 1%;
	padding: 1% 3%;
	width: 49.7%;
	display: inline-block;
	vertical-align: text-top;
	text-align: justify;
}

#info-booking-section li::before {
	content: "•";
	color: $sky-blue;
	/* or whatever color you prefer */
}

//Estilos para footer

footer ul {
	list-style: none;
	padding: 0;
	list-style-type: none;
}

footer ul ul {
	display: flex;
	width: 100%;
	justify-content: flex-start;
}

footer ul ul li {
	display: inline-block;
	margin-right: 18px;
}

footer a {
	color: #3a3a3a;
}

.logo-footer {
	position: absolute;
	left: 0;
	margin: 3px 0;
}
.footer-movil{
	width: 100%;
	display: flex;
    justify-content: space-around;
	align-items: center;
	.logo{
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			
		}
	}
	.info{
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
.av-borderleft-blue-footer {
	border-left: solid 3px $blue;
}

.contac-us-new-footer {
	line-height: 1;
	border-radius: .5rem;
	background-color: $yellow;
	font-size: .7rem;
	color: white;
	cursor: pointer;
}

.contac-us-new-footer:hover {
	background-color: #ec971f;
	border-color: #eb9316;
}

.size-img-footer {
	width: 29px;
	height: auto;
}

#je-newsletter {
	background-image: url(/img/foto-footer-maca.jpg);
	text-align: center;
	padding: 1% 0;
	background-size: cover;
	background-position: bottom;
	transform: translateY(30%);
}

.fs-8 {
	font-size: .8em;
}

#je-btn-top-scroll {
	position: absolute;
	top: 0%;
	left: 95%;
}

#je-newsletter p {
	font-weight: 400;
}

#je-newsletter form {
	position: relative;
	display: flex;
	justify-content: center;
}

.resortpromotion,
.tour-packages {
	.card {
		margin: 8px auto;
	}
}

.tour-package-interna {
	.card {
		max-width: 300px;
		.card-block {
			height: 280px !important;
			ul {
				margin: 0 auto !important;
			}
		}
	}
}
.owl-carousel .owl-item {
	.item {
		display: flex;
		justify-content: center;
	}
}

.nav-specials {
	width: 100%;
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0;
	li {
		margin: 10px 15px;
	}
}

.je-tour-packages {
	.card-block {
		background-color: #eceeef !important;
	}
	.owl-nav {
		display: none !important;
	}
	.owl-dots {
		display: none;
	}
}

button.owl-dot {
	background: transparent;
}

.je-btn-book-now {
	height: 45px;
}

#drop-call {
	width: 500% !important;
	margin-top: 0px;
	div.row:first-child {
		border-bottom: solid 1px;
	}
}

.card-style {
	.card {
		margin: 0 10px;
		img {
			border: none;
			border-radius: 0;
		}
		.card {
			border: none;
			border-radius: 0;
		}
	}
}

#je-specials-section .card img {
	border: none;
	border-radius: 0;

}
 .je-reviews-box .revhome .owl-dots{
	bottom: -62px;
    left: 0%;
}
#je-specials-section .card {
	border: none;
	border-radius: 0;
}
#je-specials-section .card a{
    margin: 0;
}

//Ventana modal para webcams, manage your reservation
.modal-body{
    .tab-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .icono-calendario{
            width: 25px;
            height: 25px;
            background-size: cover;
        }
        .booking-interno-inputs:nth-child(1),.booking-interno-inputs:nth-child(2){
            width: 48%;
           
            .input-group-addon{
                border: 1px solid $gray;
                border-radius: 10px;
            }
            
        }
        .booking-interno-inputs:nth-child(3),
         .booking-interno-inputs:nth-child(4),
         .booking-interno-inputs:nth-child(5),
         .booking-interno-inputs:nth-child(6){
            width: 23%;
            flex-direction: column;
            display: flex;
            justify-content: flex-end;
            label{
                color:$gray;
            }
        }
        select{
            border: 1px solid $gray;
			border-radius: 20px;
			height: 40px !important;
			line-height: 40px;
			padding: 0 15px;
        }
    }
}
#modal-foor-plan{
	.modal-body{
		padding: 15px .7rem;
	}
}
.booking-interno-inputs .combo-box select{
	padding: 0 15px;
}

//section specials del home y tarjetas estos estilos se pueden repetir en otras internas con elementos similares
#je-specials-section .card-block {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 300px;
	background: #e7e7e7;
}

#je-specials-section .card-title {
	color: $blue !important;
	padding: 0;
	width: 100%;
	align-items: flex-start;
	text-align: left;
	text-transform: capitalize;
	justify-content: space-between;
	font-size: 1rem;
}

#je-specials-section ul {
	color: #606060;
	font-size: .8em;
	list-style: none;
	padding: 0;
	width: 100%;
	overflow: hidden;
    height: 140px;
	margin: auto;


}

#je-specials-section li {
	padding: 1% 1%;
	display: flex;
}

#je-specials-section li::before {
	content: "•";
	margin-right: 10px;
}

#je-specials-section span.je-special-mark {
	position: absolute;
	top: 5%;
	height: 45px;
	left: -8px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
}

.je-special-mark {
	&.je-red,
	&.je-green {
		.content-deals {
			line-height: 0.8;
			.deal-small {
				letter-spacing: 2.1px;
			}
			.deal-medium {
				letter-spacing: 10.7px;
				&.mark-home {
					letter-spacing: 6.7px;
    				padding-left: 3px;
				}
			}
		}
	}
}

#je-specials-section span.je-special-mark::after {
	position: absolute;
	background: gray;
	content: " ";
	left: 0;
	width: 8px;
	bottom: -4px;
	height: 12px;
	z-index: -1;
	transform: skewY(45deg);
}
//color en los ribones de las cards de specials
#je-specials-section span.je-green.je-special-mark::after {
	background-color: #00913d;
}

#je-specials-section span.je-red.je-special-mark::after {
	background-color: #96110d;
}

#je-specials-section span.je-orange.je-special-mark::after {
	background-color: #ba5702;
}

#je-specials-section span.je-green {
	background: #50a735;
}

#je-specials-section span.je-red {
	background: #fc0d1b;
}

#je-specials-section span.je-orange {
	background: #e76b1e;
}

#je-specials-section .owl-theme .owl-nav {
	display: flex;
	justify-content: space-around;
	transform: translateY(19%);
}

#je-specials-section .owl-theme .owl-nav .owl-prev,
#je-specials-section .owl-theme .owl-nav .owl-next {
	background: transparent;
	z-index: 100;
}

#je-specials-section .owl-theme .owl-dots {
	transform: translateY(-250%);
	z-index: 1;
	margin: 0 46%;
	width: 10%;
	bottom: -33px;
	position: absolute;
}

button.owl-dot.active {
	background: none;
}

.owl-theme .owl-nav {
	/*margin-top: 45px !important;*/
	margin-bottom: 35px !important;
}

.owl-theme .owl-nav [class*='owl-'],
.owl-theme .owl-nav [class*='owl-']:hover {
	background: transparent;
}

.je-reviews-box {
	background-color: $yellow;
	position: relative;
}

.owl-theme .owl-dots {
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	transform: translateY(-254%);
	z-index: -1;
	position: absolute;
	width: 100%;
}
//seccion reviews en home y otras internas
.je-reviews-box a {
	position: absolute;
	bottom: 2px;
	padding-bottom: 10px;
	padding-right: 30px;
	width: 30%;
	margin-left: 70%;
	text-align: right;
	z-index: 100;
	text-transform: capitalize;
}

.je-reviews-box .je-user-data {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
	min-height: 200px;
}

.je-reviews-box .je-user-coment {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
	min-height: 200px;
}

.je-reviews-box img {
	width: 80px !important;
	height: 80px;
}

//seccion de instagram feed en el home
#instagram-section {
    
    p{
        font-size: 2em;
    }
    small{
        font-size: 1.5rem;
        padding-bottom:2px;
    }
}

#instagram-section span span {
	font-size: 1.1em;
}

#instafeed li {
	width: 12.5%;
	display: inline;
	float: left;
}


.firefox .instagram_img_holder {
	height: 300px;
	padding-bottom: 15em;
}

.instagram img:hover {
	transition: 1s ease;
}

.instagram_img_holder {
	content: " ";
	width: 460px;
	height: 0;
	padding-bottom: 15%;
	position: relative;
	background-size: cover;
}

.instagram_img_holder a:hover {
	transition: 1s ease;
	position: absolute;
	z-index: 90;
	width: 100%;
	height: 100%;
	background: rgba(1, 1, 1, .3);
}

.instagram_img_holder a {
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
}





//reviews

.title-review {
	color: #0B2C64 !important;
	margin-bottom: 0;
	margin-top: 2px;
}

.je-user-data span {
	font-style: italic;
	font-weight: 100;
}

.je-user-coment span {
	font-size: 2em;
	line-height: 0;
	font-style: italic;
}

.je-user-coment p {
	color: #0B2C64 !important;
	line-height: 2.1;
}

.je-user-coment a {
	text-transform: uppercase;
	position: absolute;
	left: 80%;
	bottom: 0;
}

.je-reviews-box .owl-dots {
	position: absolute;
	bottom: -51px;
	left: 0;
}
.owlOfertas .owl-dots {
	position: absolute;
	display:none!important;
}
.owlOfertas .owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-transform: translateY(19%);
    transform: translateY(19%);
}
.special-destino-filtro {
	background: $blue;
	padding: 15px 10px;
	margin-bottom: 15px;
	justify-content: center;
	align-items: center;
	.combo-box {
		width: 85%;
		position: relative;
		label {
			font-size: 1rem;
		}
		select {
			width: 100%;
		}
	}
	.arrow-down {
		&::after {
			top: 33px;
		}
	}
}

.resorts-links-filtro {
	padding: 0px;
	justify-content: center;
	align-items: center;
	.combo-box {
		width:100%;
		position: relative;
		select {
			width: 100%;
			background: $dark-gray;
			color: $white;
			border-radius: 0;
		}
	}
	.arrow-down {
		&::after {
			top: 9px;
		}
	}
}

.je-special-mark {
	font-size: 1em;
	display: block;
	font-weight: 800;
}

.deal-small {
	font-size: .6em;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2.1px;
}

.deal-big {
	text-align: justify;
	letter-spacing: 1px;
	display: flex;
	justify-content: space-around;
	width: 100%;
	color: #fff;
	margin: 9px 0;
	line-height: 0;
	align-items: center;
}

.deal-medium {
	letter-spacing: 2px;
	line-height: .8;
	margin-bottom: 1px;
	font-size: 1.1em;
	color: #fff;
}

.deal-medium-i {
	line-height: .8;
	margin-bottom: 1px;
	font-size: 1.1em;
	color: #fff;
	letter-spacing: 6px;
}

.content-deals {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.je-reviews-box .owl-theme .owl-dots .owl-dot.active span,
.je-reviews-box .owl-theme .owl-dots .owl-dot:hover span {
	background: #ffffff !important;
}

.je-reviews-box .owl-theme .owl-dots .owl-dot span::after {
	content: " ";
	border-radius: 50%;
	width: 18px;
	height: 18px;
	left: 2px;
	top: 11px;
}


.gallery {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: flex-start;
}


.combo-box {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	width: 50%;
	justify-content: space-around;
}

.combo-box select {
	width: 100%;
	padding: 0px 20px;
	border-radius: .8rem;
	line-height: 1;
	border: 0px solid rgba(0, 0, 0, 0.15);
	height: 40px !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.select2-container--default .select2-selection--single{
	height: 40px;
}
.form-control {
	width: 100%;
}

.form-control:disabled,
.form-control[readonly] {
	background-color: #fff;
}

footer ul li {
	padding: 3px 0;
	font-size: 12px;
}

.btn-warning {
	background-color: $yellow;
	width: 14%;
	padding: 10px 5px;
	border-radius: .5rem;
}

.newsletter {
	width: 100%;
	padding: 10px;
}

#exampleInputEmail1,
#exampleInputName {
	width: 30%;
	border: none;
	padding: 12px 10px;
}

.normal {
	font-family: 'galano' !important;
	font-style: normal;
}

.bold {
	font-family: 'galano';
	font-weight: 600;
}

.register {
	font-size: 2em;
}

.footer-brand {
	background-size: contain;
	content: " ";
	height: 63px !important;
	position: absolute;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.datepicker-dropdown {
	min-width: 0 !important;
}
.date{
	input{
		height: 45px;
		line-height: 45px;
		padding: 0 10px;
	}
}
.date ::-webkit-input-placeholder {
	text-align: left;
	height: 35px;
	/* specify your desired height here */
	line-height: normal;
}

#info-booking-section .collapsible {
	background-color: #ffffff;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	display: flex;
	color: #0c2d63;
	justify-content: flex-start;
	font-family: galano-bold;
	align-items: center;
}

#info-booking-section .active,
.collapsible:hover {
	background-color: #fff;
}

#info-booking-section .content {
	font-size: 1rem;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #fff;
	text-align: justify;
}

.fs-view a {
	font-size: 1.1rem;
	text-transform: uppercase;
}

.fs-view {
	padding-left: 7px;
	padding-right: 7px;
}

.accordion-toggle.collapsed h3:after {
	background-color: $yellow;
	-webkit-mask-image: url(/img/angle-down.svg);
	mask-image: url(/img/angle-down.svg);
	width: 14px;
	content: " ";
	position: absolute;
	z-index: 100;
	top: 30%;
	left: 100%;
	height: 25px;
}

.accordion-toggle.collapsed span {
	background-color: $yellow;
	-webkit-mask-image: url(/img/angle-down.svg);
	mask-image: url(/img/angle-down.svg);
	width: 14px;
	content: " ";
	position: absolute;
	z-index: 100;
	top: 6px;
	left: -3px;
	height: 25px;
}

.accordion-toggle span {
	background-color: $yellow;
	-webkit-mask-image: url(/img/angle-up.svg);
	mask-image: url(/img/angle-down.svg);
	width: 14px;
	content: " ";
	position: absolute;
	z-index: 100;
	top: 6px;
	left: -3px;
	height: 25px;
}

.accordion-toggle h3:after {
	background-color: $yellow;
	-webkit-mask-image: url(/img/angle-up.svg);
	mask-image: url(/img/angle-down.svg);
	width: 14px;
	content: " ";
	position: absolute;
	z-index: 100;
	top: 30%;
	left: 100%;
	height: 25px;
	opacity: 0;
}

#info-booking-section a {
	text-decoration: none;
	pointer-events: none;
	cursor: unset;
}

#info-booking-section h3 {
	font-size: 1.7rem;
	display: flex;
	font-weight: bold;
	color: #0c2d63;
	padding: 10px 0;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	flex-direction: row;
}

.input-group-addon {
	width: 100%;
	z-index: 2;
	position: absolute;
	height: auto;
	height: 100%;
	top: 0;
	left: 0;
	border: 0;
	background: transparent;
	cursor: pointer;
}

.form-group .date {
	position: relative;
	height:40px;
	cursor: pointer;
}

.sticky-top {
	z-index: 10;
}

.tam-slide {
	height: 570px;
	width: 100%;
}

#booking-interno {
	.booking-interno-inputs:nth-child(1), .booking-interno-inputs:nth-child(2), .booking-interno-inputs:nth-child(3),
	.booking-interno-inputs:nth-child(4), .booking-interno-inputs:nth-child(5), .booking-interno-inputs:nth-child(6),
	.booking-interno-inputs:nth-child(7), .booking-interno-inputs:nth-child(8), .booking-interno-inputs:nth-child(9){
		.arrow-down {
			&::after {
				top: 30px;
			}
		}
	}
}

#booking-interno li {
	width: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	border: none !important;
	box-shadow: none;
}

#booking-interno .nav-tabs .nav-link {
	border: 0;
	height: 40px;
}

#booking-interno .contenedor-tabs {
	margin-top: 1px;
}

#booking-interno li a {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	border-radius: 0 !important;
	color: #ffffff;
}

#booking-interno li a img {
	width: 10%;
}

#header-interno {
	border-bottom: 2px solid #e8e8e8;
}

#booking-interno li:nth-child(1) a {
	background: #0c2d63 !important;
}

#booking-interno li:nth-child(2) a {
	background: #00ACED !important;
}

#booking-interno li:nth-child(3) a {
	background: $yellow !important;
}

#booking-interno .container {
	padding: 0 2px;
	/*margin-top: 2px; Lu*/
}

.je-tab-content {
	width: 87%; /*Lu 100%*/
	float:left;/*lu*/
	padding: 15px 10px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
}

.yellow {
	background: $yellow;
}

.sky-blue {
	background: #00ACED;
}

.dark-blue {
	background: #0c2d63;
}

.booking-interno-container {
	.iconos-booking.it-hotel-fly{
		background-position: -46px -8px;
	}
	ul {
		li {
			#package-tab {
				img {
					width: 30px;
					height: 20px;
				}
			}
			#hotel-flight-tab {
				img {
					width: 35px;
					height: 15px;
				}
			}
			#hotel-tab {
				img {
					width: 35px;
					height: 20px;
				}
			}
		}
	}
}

#booking-interno .nav-tabs {
	border: none;
}

#booking-interno .tab-content {
	/*margin-top: 1px;Lu*/
	border-top:1px solid #fff;
	width: 99%;
}

.nav-tabs .nav-link.active {
	border: 0;
	box-shadow: 0;
	padding: 0;
}

.boton-booking-now {
	width: 13%;
	height:153px;
	background: #0c2d63;
	display: flex;
	align-items: center;
	justify-content: center;
	/*margin-left: 1px;
	margin-top: 1px;*/
	text-align: center;
	position: relative;
}

.boton-booking-now a {
	color: #ffffff;
	text-decoration: none;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.boton-booking-now a:hover {
	transition: .8s ease;
	background: $blackness;
}

.contenedor-tabs {
	display: flex;
	flex-direction: row;
}

.booking-interno-inputs label {
	font-size: .9rem;
}

.booking-interno-inputs .combo-box {
	width: auto;
	margin-bottom: 0;
	margin-right: 0;
}

.booking-interno-inputs {
	position: relative;
}

.booking-interno-inputs input,
.booking-interno-inputs select {
	border-radius: .8rem !important;
	border: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 38px; /*lu 40*/
	height: 38px !important; /*lu 40*/
	padding: 0 10px;
}
.input-group{
	height: 38px;
}
.input-group-addon {
	align-items: flex-end;
	color: #c5c5c5;
	font-weight: 100;
}

.booking-interno-inputs:nth-child(1) {
	margin: 0 3px;
	width: 48%;
}

.booking-interno-inputs:nth-child(2),
.booking-interno-inputs:nth-child(3) {
	width: 24%;
	margin: 0 3px;
}

.booking-interno-inputs:nth-child(4),
.booking-interno-inputs:nth-child(5),
.booking-interno-inputs:nth-child(6),
.booking-interno-inputs:nth-child(7) {
	width: 24%;
	margin: 0 3px;
}

#booking-interno .select2-container--default .select2-selection--single{
	height: 38px;
}
#booking-interno .select2-selection__arrow {
	top: 0;
}

.booking-interno-inputs .combo-box select {
	padding: 0;
	padding: 1px 15px;
	cursor: pointer;
}

#where-p,
#where-hf,
#where-h {
	appearance: none;
	-moz-appearance: none;
	--webkit-apparance: none;
	background: #fff;
	border-radius: .7rem;
}

.booking-interno-section {
	transform: translateY(-50%);
	display: block;
	opacity: 0;
	transition: .5s ease;
	height: 0;
	overflow: hidden;
}

.show-booking {
	display: block;
	transform: translateY(0%);
	transition: .2s ease;
	opacity: 1;
	height: 100%;
}

.sticky-top-2 {
	top: 8%;
	position: sticky;
	z-index: 2;
}

.slick-current {
	.trips-element {
		position: relative;
		&:hover {}
		&::after {
			content: " ";
			width: 100%;
			height: 100%;
			bottom: 0;
			position: absolute;
			background-color: rgba($white, $alpha: .0);
		}
		&::before {
			transition: .6s ease;
			content: " ";
			width: 100%;
			height: 3px;
			bottom: 5px;
			position: absolute;
			background-color: rgba($white, $alpha: .4);
		}
	}
}

.trips-element {
	position: relative;
	&::after {
		content: " ";
		width: 0%;
		height: 100%;
		position: absolute;
	}
	&:hover {
		&::after {
			content: " ";
			width: 100%;
			height: 100%;
			bottom: 0;
			position: absolute;
			background-color: rgba($white, $alpha: .4);
			transition: .5s ease;
		}
	}
}

#adults:after,
#children:after,
#adolecent:after,
#room:after,
#teen:after {
	font-size: .7em;
	padding: 5px 0px 0px 4px;
	position: absolute;
	pointer-events: none;
	background-color: #c5c5c5;
	-webkit-mask-image: url(/img/angle-down.svg);
	mask-image: url(/img/angle-down.svg);
	width: 14px;
	content: " ";
	position: absolute;
	z-index: 1;
	top: 54px;
	right: 22px;
	height: 25px;
}

.select2-selection__arrow {
	position: relative;
}

.select2-selection__arrow b {
	border: none !important;
}

.select2-selection__arrow:after {
	background-color: #c5c5c5;
	-webkit-mask-image: url('/img/angle-down.svg');
	mask-image: url('/img/angle-down.svg');
	width: 14px;
	content: " ";
	position: absolute;
	z-index: 100;
	top: 9px;
	left: -3px;
	height: 25px;
}
.fa-twitter, .fa-facebook{
font-size: 16px;
}
.icono-search {
	content: " ";
	width: 15px;
	left: 30%;
	position: absolute;
	height: 15px;
	background-color: #fff;
	-webkit-mask-image: url('/img/search.svg');
	mask-image: url('/img/search.svg');
}

.icono-pencil {
	width: 10%;
}
.insta-opt{
	position: relative;
}
.icon-instagram
{
	font-size: .7em;
    padding: 5px 0px 0px 4px;
    position: absolute;
    pointer-events: none;
    background-color: $white;
    -webkit-mask-image: url(/img/instagram.svg);
    mask-image: url(/img/instagram.svg);
    width: 14px;
    content: " ";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 23%;
    height: 17px;
}
.it-item-menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.iconos-booking {
	content: " ";
	background-image: url('/img/iconos-booking.svg');
	width: 32px;
	height: 21px;
	background-blend-mode: overlay;
	background-size: 116px;
	background-repeat: no-repeat;
	vertical-align: middle;
	position: relative;
	&.it-package {
		background-position: -84px -7px;
		margin-left: -3px;
	}
	&.it-hotel-fly {
		background-position: -50px -8px;
		margin-left: 3px;
	}
	&.it-hotel {
		background-position: -4px -9px;
	}
}

.icono-ham {
	div {
		content: " ";
		background-image: url('/img/cortes-home.png');
		width: 40px;
		height: 40px;
		background-blend-mode: overlay;
		background-size: 361px 360px;
		background-repeat: no-repeat;
		vertical-align: middle;
		position: relative;
		&.it-h {
			background-position: -30px -276px;
		}
	}
}

.it-pencil {
	content: " ";
	background-image: url('/img/pencil-icon.png');
	width: 16px;
	height: 16px;
	background-size: cover;
	background-repeat: no-repeat;
}

.it-search {
	content: " ";
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url('/img/cortes-home3.png');
	background-blend-mode: overlay;
	background-size: 920px 360px;
	background-repeat: no-repeat;
	vertical-align: middle;
	position: relative;
	&::after {
		position: absolute;
		content: " ";
		width: 100%;
		height: 100%;
		z-index: 100;
		background-position: -688px -126px;
	}
}

.it-content {
	padding: 0 5px;
}

.insta-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
}

.insta {
	display: flex;
	align-items: center;
	justify-content: center;
	div {
		content: " ";
		display: inline-block;
		width: 40px;
		height: 39px;
		background-image: url('/img/cortes-home.png');
		background-blend-mode: overlay;
		background-size: 361px 360px;
		background-repeat: no-repeat;
		vertical-align: middle;
		&.it-gram {
			background-position: -281px -201px;
		}
	}
}

.redes-sociales {
	display: flex;
	align-items: center;
	justify-content: center;
	span{
		padding-bottom: .2rem;
	}
	&.red-footer {
		width: 70%;
		justify-content: flex-start;
		a {
			margin: 0px 8px;
		}
	}
	a,
	div {
		content: " ";
		display: inline-block;
		width: 24px;
		height: 24px;
		background-image: url('/img/cortes-home3.png');
		background-blend-mode: overlay;
		background-size: 920px 360px;
		background-repeat: no-repeat;
		vertical-align: middle;
		&.it-facebook {
			background-position: -208px -46px;
		}
		&.it-twitter {
			background-position: -288px -46px;
		}
		&.it-instagram {
			background-position: -368px -46px;
		}
		&.it-youtube {
			background-position: -451px -47px;
		}
		&.it-search {
			background-position: -688px -126px;
		}
		&.it-facebook-f {
			background-position: -615px -290px;
		}
		&.it-twitter-f {
			background-position: -691px -290px;
		}
		&.it-instagram-f {
			background-position: -770px -290px;
		}
		&.it-youtube-f {
			background-position: -850px -290px;
		}
	}
}

.ico {
	content: " ";
	display: inline-block;
	width: 18px;
	height: 18px;
	background-blend-mode: overlay;
	background-size: 920px 360px;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.icono-calendario {
	content: " ";
	background-image: url(/img/calendar.png);
	width: 30px;
	height: 30px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.icon-facebook {
	content: " ";
	background-size: contain;
	background-repeat: no-repeat;
	height: 18px;
}

.formulario button {
	position: relative;
}

.tabs-formularios {
	li {
		border-bottom: 1px solid transparent;
		&:hover {
			transition: .6s ease;
			border-bottom: 1px solid $white;
		}
	}
}

.arrow-down:after {
	content: '\f078';
	font: normal normal normal 17px/1 FontAwesome;
	color: #c5c5c5;
	right: 20px;
	/*top: 50px; lu*/
	height: 34px;
	padding: 5px 0px 0px 4px;
	position: absolute;
	font-size: 12px;
	pointer-events: none;
}

.arrow-down-rooms:after {
	content: '\f078';
	font: normal normal normal 17px/1 FontAwesome;
	color: #c5c5c5;
	right: 20px;
	top: 30px;
	height: 34px;
	padding: 5px 0px 0px 4px;
	position: absolute;
	font-size: 12px;
	pointer-events: none;
}

#adults,
#children,
#adolecent,
#room {
	position: relative;
}

.combo-box select {
	position: relative;
	appearance: none;
	cursor: pointer;
}

.input-group {
	width: 100%;
}

.select2-container {
	width: 100% !important;
}

#booking-interno .nav-item {
	height: 40px;
}

.btn-view-more {
	right: 0;
	position: absolute;
	bottom: 70px;
	text-transform: uppercase;
	font-size: 1.1rem;
	display: flex;
	justify-content: center;
	background: transparent !important;
	font-weight: 400;
	z-index: 80;
	border-bottom: 2px solid #0B2C64;
}

.btn-view-more:hover {
	text-decoration: none; //transition: 1s ease;
	border-bottom: 2px solid $yellow;
}

.formulario form {
	padding: 0 10px;
}

.formulario {
	ul {
		li {
			a {
				justify-content: flex-end;
			}
		}
	}
}

.view-more-special-movil {
	display: none;
}

.form-group {
	margin-bottom: 0;
}

.dropdown-menu {
	border-radius: 0;
	margin: 0 0;
}

.datepicker .day {
	width: 30px !important;
	height: 30px !important;
	font-size: 1.2em !important;
	font-family: 'galano';
	font-weight: 300;
}

.fa-arrow-circle-right {
	position: relative;
	&::before {
		background-color: #c5c5c5;
		-webkit-mask-image: url(/img/angle-down.svg);
		mask-image: url(/img/angle-down.svg);
		width: 14px;
		content: " ";
		position: absolute;
		z-index: 100;
		top: 0;
		left: 0;
		height: 25px;
		transform: rotateZ(-90deg);
	}
}

.fa-arrow-circle-left {
	position: relative;
	&::before {
		background-color: #c5c5c5;
		-webkit-mask-image: url(/img/angle-down.svg);
		mask-image: url(/img/angle-down.svg);
		width: 14px;
		content: " ";
		position: absolute;
		z-index: 100;
		top: 0;
		left: 14px;
		height: 25px;
		transform: rotateZ(90deg);
	}
}

.datepicker .dow,
.datepicker td {
	color: $blue;
	font-family: 'galano';
	font-weight: 500;
}

.datepicker td,
.datepicker th {
	font-family: 'galano';
	font-weight: 500;
}

@mixin placeholder {
	::-webkit-input-placeholder {
		@content
	}
	:-moz-placeholder {
		@content
	}
	::-moz-placeholder {
		@content
	}
	:-ms-input-placeholder {
		@content
	}
}

@include placeholder {
	font-style: normal;
	color: #929090;
	font-weight: 300;
}

#estudio ul li a {
	font-size: 1.1em;
}

#index-video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -100;
	right: 0;
	bottom: 0;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

.index-video-wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
	background-size: cover;
	display: block;
	height: 430px;
	margin-bottom: 40px;
}

#bread {
	position: relative;
}

.align-items-center {
	align-items: center;
}

.resort-tabs li a {
	height: 100%;
}

.specials-tabs li a {
	font-size: .8rem;
}

.breadp-rate #breadcrum-container {
	width: 99%;
	display: flex;
}

.breadp-resorts #breadcrum-container {
	width: 82.3%;
	display: flex;
}

#breadcrum-container {
	width: 82.3%;
	display: flex;
	margin: 0 auto;
}

.plyr--video {
	height: 430px;
}

.plyr__controls {
	display: none;
}
a:visited{
text-decoration: none !important;
}
a:active {
	text-decoration: none !important;
	
}
a:hover {
	text-decoration: none !important;
	
}
a:link {
	text-decoration: none !important;
	
}
.je-btn-book-now {
	background-color: #00ACED;
	color: #fff;
	text-align: center;
	width: 80%;
	text-transform: uppercase;
	margin-top: 10px;
	text-decoration: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	text-decoration: none;

	&:active {
		color:$white;
		text-decoration: none;
	}
	&:visited {
		color:$white;
		text-decoration: none;

	}
	&:hover {
		
	
		transition: .7s ease;
		text-decoration: none;
		background-color: #0c2d63;
		color:#fff;
	}
}

.link-interno {
	color: black;
	font-weight: 600;
}

.input-manage {
	border: 1px solid gray;
	padding: 5px 10px;
}

.manage-reservation {
	display: flex;
	justify-content: space-around;
	input {
		width: 33%;
		height: 45px;
		line-height: 45px;
	}
	select{
		padding-bottom: .7rem;
		
	}
}

.slick-prev {
	left: 10px;
	z-index: 1;
}

.slick-next {
	right: 10px;
}

.slick-prev:before,
.slick-next:before {
	color: #fff;
}

.special-home {
	.card {
		margin: 0 10px;
		.card-block {
			height: 300px;
		}
	}
}

.special-resort {
	.card {
		margin: 0 10px;
		.card-title {
			font-size: .9rem;
		}
		.card-block {
			height: 300px;
		}
	}
}

.tour-intern.special-cards-section {
	justify-content: space-between;
}

.tour-intern {
	.je-special-mark {
		.content-deals {
			.deal-medium {
				letter-spacing: 6.7px !important;
			}
		}
	}
}

.special-cards-section {
	justify-content: space-evenly;
	display: flex;
	width: 70%;
	margin: 0 auto;
	flex-wrap: wrap;
	position: relative;
	.card {
		max-width: 261px;
		margin: 1% 1%;
		span {
			.content-deals {
				.deal-medium {
					padding-left: 9px;
					letter-spacing: 12.5px;
				}
				.deal-small {
					letter-spacing: 2.1px;
				}
			}
		}
		img {
			width: 100%;
		}
		.card-body {
			padding: 15px 20px;
			background: #ececec;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			.card-title {
				width: 100%;
				background: #ececec;
			}
		}
	}
}

.specials-intern,
.tour-intern {
	.card {
		.card-body {
			height: 285px;
		}
	}
	.owl-nav {
		margin-top: 15px;
		display: flex;
		justify-content: space-between;
		.owl-prev,
		.owl-next {
			width: 50%;
			display: flex;
			align-items: center;
		}
		.owl-prev {
			justify-content: center;
		}
		.owl-next {
			justify-content: center;
		}
	}
}

.grid-tour-package {
	background: red;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
}

.disfil {
	display: none;
}

.showfil {
	display: flex;
}

.boton-amarillo {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 0 !important;
	a {
		width: auto;
		background: $yellow;
		padding: 5px 10px;
		text-align: center;
		padding-bottom: .6rem;
		&:hover {
			transition: .8s ease;
			text-decoration: none;
			background-color: #dc9c17;
			;
		}
	}
}

.spinner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	z-index: 100;
	background: rgba($color: #fff, $alpha: 1)
}

.spinnerout {
	background: rgba($color: #fff, $alpha: 0);
	z-index: -1;
}

.spinner>div {
	width: 26px;
	height: 26px;
	background-color: #fff;
	border-radius: 100%;
	display: inline-block;
	animation: sk-bouncedelay 1.7s infinite ease-in-out both;
	margin-right: 5px;
}

.spinnerout.spinner--orange>div {
	transition: .3s ease;
	background: rgba($color: #fff, $alpha: 0)
}

.spinner--orange>div {
	background: #FF9A27;
	margin-top: 15%;
}

.spinner .spinner__item1 {
	animation-delay: -0.60s;
}

.spinner .spinner__item2 {
	animation-delay: -0.40s;
}

.spinner .spinner__item3 {
	animation-delay: -0.20s;
}

button.owl-dot,
button.owl-prev,
button.owl-next {
	border: 0;
}

@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0);
		opacity: 0;
	}
	40% {
		transform: scale(1.0);
		opacity: 1;
	}
}

.version-navegador {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
	z-index: 99;
}

.tam-slider {
	height: 570px;
}

.circulo {
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: -84px;
	left: -400px;
	width: 800px;
	height: 150%;
	z-index: 9;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.circulo-p {
	position: absolute;
	top: 22px;
	left: 240px;
	z-index: 9;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #313131;
}

.resort-tile-big {
	height: 526px;
	position: relative;
	background-size: cover;
	margin-bottom: 5px;
	background-position: center;
	border-bottom: solid 5px $blue;
}

.resort-tile-big:hover {
	border-bottom-color: $yellow;
}

.resort-tile-small {
	height: 260px;
	position: relative;
	margin-bottom: 5px;
	background-size: cover;
	background-position: center;
	border-bottom: solid 5px $blue;
}

.resort-tile-small:hover {
	border-bottom-color: $yellow;
}

.resort-tile-title {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px 5px;
}

.sub-text {
	display: flex;
	flex-direction: column;
}

.mosaic-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 7%;
	justify-content: space-around;
	.mosaic-last {
		width: 100%;
		display: flex;
		margin-bottom: 20px;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-direction: row;
		flex-flow: row-reverse;
		.principal {
			width: 49%;
			height: 498px;
			display: flex;
			align-items: flex-end;
			font-weight: 300;
			overflow: hidden;
			&:hover {
				.info {
					transition: .3s ease;
					transform: translateY(0%);
					cursor: default;
					background: $blue;
					width: 100%;
					text-shadow: 2px 2px 2px #000;
					&.restaurant {
						transition: .3s ease;
						transform: translateY(0%);
						display: flex;
						flex-direction: row !important;
						
					}
					p {
						opacity: 1;
					}
					.logo {
						opacity: 1;
					}
				}
			}
			.info {
				transition: .3s ease;
				padding: 10px;
				background: transparent;
				color: #fff;
				transform: translateY(73%);
				border-bottom: 10px solid $yellow;
				text-shadow: 2px 2px 2px #000;
				&.restaurant {
					transition: .3s ease;
					transform: translateY(55%);
					width: 100%;
					text-align: left;
					align-items: center;
					justify-content: center;

					
				}
				strong {
					font-size: 1.1rem;
					font-weight: 600;
				}
				p {
					opacity: 0;
				}
				.logo {
					opacity: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 35%;
					img {
						width: 62%;
						border-radius: 20px;
					}
				}
				.texto {
					width: 65%;
					flex-direction: column;
					display: flex;
				}
			}
		}
		.secundarios {
			display: flex;
			width: 49%;
			display: flex;
			align-items: flex-end;
			flex-direction: column;
			justify-content: space-between;
			font-weight: 300;
			.info {
				padding: 0 10px;
				color: #fff;
				background: transparent;
				display: flex;
				border-bottom: 10px solid $yellow;
				transition: .3s ease;
				transform: translateY(40%);
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-end;
				text-shadow: 2px 2px 2px #000;
				&.restaurant {
					transition: .3s ease;
					transform: translateY(66%);
					width: 100%;

					
				}
				strong {
					font-size: 1.1rem;
					font-weight: 600;
				}
				p {
					opacity: 0;
					text-align: justify;
				}
				.texto {
					width: 100%;
					flex-direction: column;
					display: flex;
				}
				.logo {
					opacity: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 30%;
					img {
						width: 62%;
						border-radius: 20px;
					}
				}
			}
			div {
				width: 100%;
				height: 236px;
				overflow: hidden;
				&:hover {
					.info {
						cursor: default;
						transition: .3s ease;
						transform: translateY(0%);
						background: $blue;
						text-shadow: 2px 2px 2px #000;
						&.restaurant {
							transition: .3s ease;
							transform: translateY(0%);
							flex-direction: row;
							
						}
						p {
							opacity: 1;
							text-align: justify;
						}
						.logo {
							opacity: 1;
							width: 50%;
						}
						.texto {
							justify-content: center;
							width: 50%;
						}
					}
				}
			}
		}
	}
	.mosaic-first {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-direction: row;
		margin-bottom: 20px;
		.principal {
			height: 498px;
			width: 49%;
			display: flex;
			align-items: flex-end;
			font-weight: 300;
			overflow: hidden;
			&:hover {
				.info {
					transition: .3s ease;
					transform: translateY(0%);
					cursor: default;
					background: $blue;
					display: flex;
					flex-direction: column;
					text-shadow: 2px 2px 2px #000;
					&.restaurant {
						transition: .3s ease;
						transform: translateY(0%);
						flex-direction: row !important;
						
					}
					p {
						opacity: 1;
						text-align: justify;
					}
					.logo {
						opacity: 1;
					}
				}
			}
			.info {
				transition: .3s ease;
				padding: 10px;
				background: transparent;
				color: #fff;
				transform: translateY(73%);
				border-bottom: 10px solid $yellow;
				width: 100%;
				text-shadow: 2px 2px 2px #000;
				&.restaurant {
					transition: .3s ease;
					transform: translateY(61%);
					
				}
				strong {
					font-size: 1.1rem;
					font-weight: 600;
				}
				p {
					opacity: 0;
					text-align: justify;
				}
				.texto {
					width: 65%;
					flex-direction: column;
					display: flex;
				}
				.logo {
					opacity: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 35%;
					img {
						width: 62%;
						border-radius: 20px;
					}
				}
			}
		}
		.secundarios {
			display: flex;
			width: 49%;
			display: flex;
			align-items: flex-end;
			flex-direction: column;
			justify-content: space-between;
			font-weight: 300;
			.info {
				padding: 0 10px;
				color: #fff;
				display: flex;
				border-bottom: 10px solid $yellow;
				transition: .3s ease;
				transform: translateY(40%);
				background: transparent;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-end;
				width: 100%;
				text-shadow: 2px 2px 2px #000;
				&.restaurant {
					transition: .3s ease;
					transform: translateY(66%);

					
				}
				strong {
					font-size: 1.1rem;
					font-weight: 600;
				}
				p {
					opacity: 0;
					text-align: justify;
				}
				.texto {
					width: 100%;
					flex-direction: column;
					display: flex;
				}
				.logo {
					opacity: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 30%;
					img {
						width: 62%;
						border-radius: 20px;
					}
				}
			}
			div {
				width: 100%;
				height: 236px;
				overflow: hidden;
				&:hover {
					.info {
						display: flex;
						cursor: default;
						transition: .3s ease;
						transform: translateY(0%);
						background: $blue;
						text-shadow: 2px 2px 2px #000;
						&.restaurant {
							transition: .3s ease;
							transform: translateY(0%);
							flex-direction: row;
							
						}
						p {
							opacity: 1;
							text-align: justify;
						}
						.logo {
							opacity: 1;
							width: 50%;
						}
						.texto {
							justify-content: center;
							width: 50%;
						}
					}
				}
			}
		}
	}
}

.subinterna {
	h1,
	h2,
	h3 {
		text-transform: uppercase;
	}
	h1 {
		color: $blue;
	}
	h2,
	h3 {
		color: #000;
		font-size: 1rem;
		font-weight: 500;
	}
	p {
		text-align: justify;
		line-height: 2;
		font-weight: 300;
		font-size: .9rem;
	}
	.col-md-6,
	.col-md-12,
	.col-12,
	.col-6,
	.col-lg-4 {
		padding: 0;
		margin: 0 auto;
    }
    #trip-interna{
		padding: 0 !important;
        h4{
            
            padding: 0;
            font-size: 1rem;
        }
    }
}
.px-5px{
padding: 0 10px !important;
}
.f-wrap{
flex-wrap: wrap;
}

.f-wrap {
	flex-wrap: wrap;
}

.menu-trip {
	div {
		.item-trip {
			width: calc(100% / 7);
			color: white;
			cursor: pointer;
			span {
				font-size: .8rem;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				background-color: $blue;
				padding: 10px 0;
				&:hover {
					transition: 1s ease;
					background-color: $sky-blue;
				}
				&.slick-active {}
			}
		}
	}
}
.gallery-grid{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap:10px;
	grid-row-gap: 20px;
	justify-content: space-evenly;
	margin-bottom: 8%;
	.item{
		position: relative;
		height: 250px;
		.iconos{
			position: absolute;
			height: 20%;
			bottom: 20%;
			left: 2%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			z-index: 12;
			img{
				width: 25px;
				margin: 2px;
				opacity: 0;
			}
		}
		a{
			.cover{
				background-size: cover;
				background-repeat: no-repeat;
				height: 250px;
			}
			&::after{
				position: absolute;
				width: 100%;
				content: " ";
				height: 100%;
				left: 0;
				bottom: 0;
				z-index: 10;
				background: linear-gradient(to left, rgba(255,0,0,0), rgba(0, 0, 0,.7));
				opacity: 0;
				
			}
			&:hover{
				transition: 1s ease;
				.title-gallery{
					border-bottom: 3px solid $yellow;
				}
				&::after{
					opacity: 1;
					transition: 1s ease;
					
				}
				.iconos{
					img{
						transition: .4s ease-in;
						opacity: 1;
					}
				}
			}
		}
		img{
			width: 100%;
		}
		.title-gallery{
			position: absolute;
			height: 20%;
			background: $blue;
			width: 100%;
			bottom: 0;
			left: 0;
			z-index: 11;
			color:$white;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			border-top: 3px solid $blue;
			border-bottom: 3px solid $blue;
			h3{
				font-size: 1rem;
				padding-left: 5px;
			}
		}
	}
	
}
.subcont {
	p {
		line-height: 1.2;
		font-weight: 300;
		font-size: .8rem;
	}
}

#tabs-trip {
	.menu-trip {
		.slick-current {
			.item-trip {
				span {
					background: $sky-blue;
				}
			}
		}
	}
}

.wrapper-trip {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	align-items: flex-start;
	justify-content: space-between;
	.grid-resorts{
		.col-lg-4{
			&:nth-child(1){
				padding-right: 7px !important;
			}
			&:nth-child(3){
				padding-left:  7px !important;
			}
			
		}
		
	}
	.submenu-trip {
		width: 32%;
		flex-direction: column;
		background: #eeeeee;
		height: 421px;
		.slick-slide{
			&:nth-child(1){
				pointer-events: none;
				
			}
		}
		div {
			width: 100% !important;
			padding: 2px 8px;
			text-transform: uppercase;
			color: #000;
			font-weight: 300;
			position: relative;
			
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7) {
				border-bottom: 1px solid $gray;
				
				&:hover {
					color: $sky-blue;
					cursor: pointer;
				}
			}
			
		}
		.slick-current {
			.item-sub {
                color: $sky-blue;
               
			}
		}
		.item-sub {
			font-size: .8rem;
			
		}
	}
	.subcontent-trip {
		width: 68%;
		display: flex;
		align-items: flex-end;
	}
	.subimagen {
		width: 100%;
		height: 421px;
		background-size: cover;
		background-position: center;
		display: flex;
		p {
			padding: 5px 20px;
			color: #ffffff;
			z-index: 10;
			font-size: 1rem;
			line-height: 1.4;
		}
		&::after {
			content: " ";
			position: absolute;
			width: 100%;
			height: 100%;
			/*background: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .8));*/ /*Fondo Experiences*/
			background: linear-gradient(0deg, rgba(0,0,0,0.865983893557423) 5%, rgba(0,0,0,0.4654236694677871) 30%, rgba(0,0,0,0) 45%); 
		}
	}
}

.subcontent-trip.slick-initialized .subimagen {
	align-items: flex-end;
	justify-content: space-around;
}

.menu-trip:not(.slick-initialized) {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.subcontent-trip:not(.slick-initialized) {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.menu-trip:not(.slick-initialized) .item-trip:nth-child(1) {
	background: $sky-blue;
}

.subcontent-trip:not(.slick-initialized) .subimagen::after {
	display: none;
}

.menu-trip:not(.slick-initialized) .subcont {
	width: 100%;
}

.submenu-trip:not(.slick-initialized) {}

.subcontent-trip:not(.slick-initialized) .subimagen p {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.subcontent-trip:not(.slick-initialized) .subcont:nth-child(1),
.subcontent-trip:not(.slick-initialized) .subcont:nth-child(3),
.subcontent-trip:not(.slick-initialized) .subcont:nth-child(4),
.subcontent-trip:not(.slick-initialized) .subcont:nth-child(5),
.subcontent-trip:not(.slick-initialized) .subcont:nth-child(6),
.subcontent-trip:not(.slick-initialized) .subcont:nth-child(7),
.subcontent-trip:not(.slick-initialized) .subcont:nth-child(8) {
	display: none;
}

.content-tabs-trip:not(.slick-initialized) .trip-cont:nth-child(2),
.content-tabs-trip:not(.slick-initialized) .trip-cont:nth-child(3),
.content-tabs-trip:not(.slick-initialized) .trip-cont:nth-child(4),
.content-tabs-trip:not(.slick-initialized) .trip-cont:nth-child(5),
.content-tabs-trip:not(.slick-initialized) .trip-cont:nth-child(6),
.content-tabs-trip:not(.slick-initialized) .trip-cont:nth-child(7),
.content-tabs-trip:not(.slick-initialized) .trip-cont:nth-child(8) {
	display: none;
}

.menu-trip:not(.slick-initialized) .item-trip {
	padding: .5rem .8rem;
	font-size: .8rem;
	text-align: center;
	background-color: $blue;
	color: #fff;
	height: 40px;
	width: calc(100% / 7);
}

.botones-filter {
	width: 100%;
	display: flex;
	justify-content: center;
	button:active {
		background: olive;
	}
	button:focus {
		background: olive;
	}
}

.filtros-botones {
	width: 75%;
	margin: 1% auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	a {
		background: #b4b4b4;
		border-radius: 0;
		color: $white;
		margin: 2px 2px;
		border: 0;
		text-decoration: none;
		padding: 8px 10px;
		padding-top: .7rem;
		padding-bottom: .7rem;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		&:hover {
			transition: .8s ease;
			background: $blue;
			border: 0;
		}
		&:active {
			background: $blue;
			outline: inherit;
			outline-width: 0;
			border: 0;
		}
		&:focus {
			background: $blue;
			box-shadow: 0;
			outline: none;
			outline-width: 0;
			border: 0;
		}
	}
	.filter-button {
		display: table;
		height: 45px;
		.cell {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			line-height: 0;
		}
	}
	.botonActivo {
		background: $blue;
	}
}

*:focus {
	outline: none;
}

.filtros-botones {
	a {
		color: #ffffff !important;
	}
	.slick-current.slick-active {
		a {
			background: $blue;
		}
	}
}

.filter-button {
	font-size: .9rem;
	border: 0;
	border-radius: 0;
	text-align: center;
	color: #ffffff;
	background: #b4b4b4;
	margin-bottom: 30px;
	padding: 8px 2px;
	&:active {
		background-color: $yellow;
	}
}

.filter-button:active {
	background-color: $blue;
	outline: inherit;
}

.filter-button:focus {
	background-color: $blue;
	outline: inherit;
}

.filter-button:hover {
	border: 0;
	cursor: pointer;
	border-radius: 0;
	text-align: center;
	color: #ffffff;
	background-color: $blue;
	button:focus {
		outline: 0 !important;
	}
}

.specials-intern,
.tour-intern {
	min-height: 600px;
}

.not-found {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #01adef;
	color: #fff;
	margin: 10% 0;
	padding: 10px;
	flex-direction: column;
}

/*.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background:  url(/img/material-loader.gif) 50% 50% no-repeat rgb(249,249,249);
    opacity: 1;
}*/